<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Bus Shuttle Services</ion-title>
    <ion-buttons slot="start" [hidden]='comingFromTabs()'>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="content" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <div class="glob-container">
    <div *ngIf="filteredTrip$ | async as trips; else loadingTrips" class="ion-no-padding">
      <ion-grid>
        <ion-row *ngIf="numberOfTrips !== 0; else noTrips;">
          <ion-col size="12" size-lg="6" offset-lg="3">
            <ion-item color="light" lines="none" class="ion-margin-bottom">
              <ion-thumbnail>
                <ion-icon size="large" color="warning" name="warning" class="ion-margin-top"></ion-icon>
              </ion-thumbnail>
              <ion-label>
                <p>
                  Effective from: <span class="glob-text-bold">{{latestUpdate}}</span>
                </p>
                <p>
                   All times in this page are displayed in Malaysian Timezone
                </p>
                <p>
                  Please refresh if content is not shown after applying or clearing filters
                </p>
              </ion-label>
            </ion-item>

            <ion-item button="true" lines="none" (click)="showFilterMenu()" [class.ion-margin-bottom]="filterMenuHidden">
              <ion-icon class="ion-padding-end" name="filter"></ion-icon>
              Filters
              <ion-icon slot="end" size="small" [name]="filterMenuHidden ? 'caret-down' : 'caret-up'">
              </ion-icon>
            </ion-item>

            <div *ngIf="!filterMenuHidden">
              <ion-item-divider>
                <ion-label>
                  Locations
                </ion-label>
                <ion-buttons slot="end">
                  <ion-button class="swap-button" color="primary" shape="round" (click)="swapLocations()">
                    <ion-icon name="repeat"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item-divider>
              <ion-item lines="none">
                <ion-label>From</ion-label>
                <ion-select interface="popover" [(ngModel)]="filterObject.fromLocation" (ngModelChange)="onFilter()">
                  <ion-select-option value="">
                    Any
                  </ion-select-option>
                  <ion-select-option *ngFor="let location of locations" [value]="location.location_name">
                    {{ location.location_nice_name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item lines="none">
                <ion-label>To</ion-label>
                <ion-select interface="popover" [(ngModel)]="filterObject.toLocation" (ngModelChange)="onFilter()">
                  <ion-select-option value="">
                    Any
                  </ion-select-option>
                  <ion-select-option *ngFor="let location of locations" [value]="location.location_name">
                    {{ location.location_nice_name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item-divider>
                <ion-label>
                  Others
                </ion-label>
              </ion-item-divider>
              <ion-item lines="none">
                <ion-label>Day</ion-label>
                <ion-select interface="popover" [(ngModel)]="filterObject.tripDay" (ngModelChange)="onFilter()">
                  <ion-select-option value="sat">Saturday</ion-select-option>
                  <ion-select-option value="sun">Sunday</ion-select-option>
                  <ion-select-option value="mon-fri">Mon-Fri</ion-select-option>
                </ion-select>
              </ion-item>
              <div class="ion-padding-bottom ion-padding-top ion-text-end">
                <ion-button fill="solid" color="danger" size="small"  (click)="clearFilter()">
                  Clear Filters
                  <ion-icon slot="end" name="trash"></ion-icon>
                </ion-button>
              </div>
            </div>

            <div *ngFor="let trip of trips | keyvalue">
              <ion-card class="ion-no-margin ion-margin-bottom" [style.border-top]="'5px solid ' + getLocationColor(trip.key)">
                <ion-card-header color="light">
                  <ion-card-title>
                    <div [style.color]="getLocationColor(trip.key)" [style.filter]="'saturate(150%)'" class="glob-text-bold">
                      {{ getLocationDisplayNameAndType(trip.key).split('&&')[0] | uppercase }} <small
                      *ngIf="trip.key === 'mosque'">(Friday Only)</small>
                    </div>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
                  <ion-list class="ion-no-padding">
                    <ion-item lines="none" *ngFor="let destination of trip.value | keyvalue">
                      <ion-label>
                        <p>trip to</p>
                        <h2 class="glob-text-bold">
                          {{ destination.key | uppercase }}
                          <small *ngIf="destination.key === 'mosque'">(Friday Only)</small>
                        </h2>
                        <ion-grid class="ion-no-padding">
                          <ion-row>
                            <ion-col [class.passed]="tripData.trip_time | checkPassedTime"
                              class="ion-text-center primary-color" *ngFor="let tripData of destination.value" size="4"
                              size-md="4">
                              {{tripData.trip_time.slice(0, -8)}}
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ng-template #noTrips>
        <ion-row>
          <ion-col>
            <app-message-with-svg messageTitle="No Trips To Show!"
              messageContent="Bus trips has finished for today. Try showing all the trips by changing the show filter to all trips instead of upcoming only."
              imageUrl="assets/img/empty.svg" wrapperOffset="4" wrapperSize="4" wrapperMarginTop="50px">
            </app-message-with-svg>
          </ion-col>
        </ion-row>
      </ng-template>
    </div>
  </div>

  <ng-template #loadingTrips>
    <ion-grid>
      <ion-row>
        <ion-skeleton-text animated style="width: 48%; line-height: 35px"></ion-skeleton-text>
      </ion-row>
    </ion-grid>
    <div>
      <div *ngFor="let s of skeletonSettings.numberOfSkeltons">
        <ion-card class="ion-no-margin ion-margin-bottom">
          <ion-card-header>
            <ion-card-title>
              <ion-skeleton-text animated style="width: 100%; line-height: 35px"></ion-skeleton-text>
            </ion-card-title>
            <div class="glob-clearfix"></div>
          </ion-card-header>
          <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
            <ion-list class="ion-no-padding">
              <ion-item lines="none" *ngFor="let destination of skeletonSettings.numberOfLocationsPerSource">
                <ion-label>
                  <ion-skeleton-text animated style="width: 45%; line-height: 25px"></ion-skeleton-text>
                  <ion-grid class="ion-no-padding">
                    <ion-row>
                      <ion-col *ngFor="let time of skeletonSettings.numberOfTimesPerTrip" size="3" size-md="4"
                        class="ion-text-center">
                        <ion-skeleton-text animated style="width: 100%; line-height: 21px"></ion-skeleton-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  </ng-template>
</ion-content>
