<ion-content class="ion-padding" style="overflow-y: auto">
  <ion-item style="--background: none; --padding-start: 0" lines="none">
    <h3 slot="start">Set Filters</h3>
    <ion-button slot="end" class="ion-hide-md-up" size="default" (click)="dismissModal()">
      Done
    </ion-button>
  </ion-item>
  <p>Sort by</p>
  <div id="segments">
    <ion-segment
      [value]="options.sortBy"
      (ionChange)="onSortByChange($event)"
      style="margin-right: 1rem"
    >
      <ion-segment-button value="Name">
        <ion-label>Name</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Date">
        <ion-label>Date</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment
      [value]="options.isSortedAsc ? 'Asc' : 'Dsc'"
      (ionChange)="onIsSortedAscChange($event)"
    >
      <ion-segment-button value="Asc">
        <ion-label>Ascending</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Dsc">
        <ion-label>Descending</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <p>Filter by category</p>
  <div>
    <ion-chip 
      *ngFor="let i of selectedCats"
      [color]="lookup[i.name]"
      (click)="addCategory(i.name)"
    >
      {{ i.name }}
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </div>
  <div>
    <ion-chip
      *ngFor="let i of notSelectedCats"
      [color]="lookup[i.name]"
      (click)="delCategory(i.name)"
    >
      {{ i.name }}
    </ion-chip>
  </div>

  <p>Filter by functional area</p>
  <ion-list>
    <ion-item>
      <ion-label>All functional areas</ion-label>
      <ion-checkbox slot="end" (click)="toggleCheck()" [(ngModel)]="allChecked"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let i of options.funcAreas">
      <ion-label>{{ i.name }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="i.selected" (ionChange)="onFuncAreasChange()">
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
