<ion-content class="ion-padding" style="overflow-y: auto">
  <ion-item style="--background: none; --padding-start: 0" lines="none">
    <h3 slot="start">Set Filters</h3>
    <ion-button slot="end" fill="clear" shape="round" (click)="dismissModal()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <p>Sort Posts</p>
  <div>
    <ion-item>
      <ion-label>Sort by</ion-label>
      <ion-select [(ngModel)]="options.sortBy" (ionChange)="onSortByChange()" placeholder="Sort by">
        <ion-select-option value="date-desc">Date Descending</ion-select-option>
        <ion-select-option value="date-asc">Date Ascending</ion-select-option>
        <ion-select-option value="name-desc">Name Descending</ion-select-option>
        <ion-select-option value="name-asc">Name Ascending</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <p>Filter by category</p>
  <div>
    <ion-chip 
      *ngFor="let i of selectedCats"
      [color]="lookup[i.name]"
      (click)="addCategory(i.name)"
    >
      {{ i.name }}
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </div>
  <div>
    <ion-chip
      *ngFor="let i of notSelectedCats"
      [color]="lookup[i.name]"
      (click)="delCategory(i.name)"
    >
      {{ i.name }}
    </ion-chip>
  </div>

  <p>Filter by functional area</p>
  <ion-list>
    <ion-item>
      <ion-label>All functional areas</ion-label>
      <ion-checkbox slot="end" (click)="toggleCheck()" [(ngModel)]="allChecked"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let i of options.funcAreas">
      <ion-label>{{ i.name }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="i.selected" (ionChange)="onFuncAreasChange()">
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
