<ion-header>
  <ion-toolbar mode="md">
    <ion-title>COVID-19 PCR Test Status Form</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6" size-lg="6" size-md="10" size-sm="12" size-xs="12" class="form-container ion-margin">
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <p class="ion-no-padding glob-text-bold ion-text-left form-title form-title-margin">COVID-19 PCR Test Form</p>
        </ion-col>
        <ion-col size="12">
          <p class="form-subtitle ion-margin-horizontal">Note: All fields are required to be filled up.</p>
        </ion-col>
      </ion-row>
      <div *ngIf="userVaccinationInfo$ | async as userVaccinationStatus">
        <div *ngIf="(userVaccinationStatus | keyvalue)?.length else disable">
          <div *ngIf="!userVaccinationStatus.ispcr else disable">
            <div class="form-margin">
              <!--PCR Test Date-->
              <ion-item>
                <ion-label>PCR Test Date</ion-label>
                <ion-datetime displayFormat="DD-MMM-YYYY" placeholder="Select Date" [min]=getDate() [max]="todaysDate" required [(ngModel)]="pcrEvidenceDate"></ion-datetime>
              </ion-item>
              <!--PCR Result-->
              <ion-item>
                <ion-label>PCR Result</ion-label>
                <ion-select interface="popover" required [(ngModel)]="pcrResult">
                  <ion-select-option value="Negative">Negative</ion-select-option>
                  <ion-select-option value="Positive">Positive</ion-select-option>
                </ion-select>
              </ion-item>
              <!--File Uploader-->
              <ion-item>
                <ion-label position="stacked">Upload PCR Result Evidence (Format: JPG/PNG/PDF)<p class="form-subtitle">Maximum File Size: 2MB</p></ion-label>
                <ion-input class="ion-margin-top" type="file" accept="application/pdf, image/jpeg, image/png" button (change)="uploadFile($event)" required></ion-input>
              </ion-item>
              <p class="ion-margin-horizontal form-subtitle">By clicking the submit button, I hereby declare that the above is accurate and complete information. I understand that any misleading or falsified information can lead to action to be taken against me.</p>
            </div>
            <ion-button class="ion-margin" expand="block" [disabled]="!pcrResult || !pcrEvidenceDate || !pcrEvidence" (click)="onSubmit()">Submit</ion-button>
          </div>
        </div>
      </div>
      <ng-template #disable>
        <ion-row class="ion-justify-content-center ion-align-items-center ion-margin-horizontal ion-margin-bottom">
          <ion-col>You have already submitted the PCR Test form. Please submit a RTK Test form.</ion-col>
        </ion-row>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-content>
