<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PeoplePulse</ion-title>

    <ion-buttons slot="end" style="margin-right: 1rem">
      <!-- desktop searchbar -->
      <ion-searchbar
        #searchbar
        *ngIf="isSearchOpen"
        (ionCancel)="toggleSearch()"
        (ionBlur)="toggleSearch()"
        autofocus
      ></ion-searchbar>
      <ion-button
        href="/peoplepulse/staffs"
        *ngIf="!isSearchOpen"
        (click)="toggleSearch()"
        class="ion-hide-sm-down"
      >
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>

      <!-- desktop filter -->
      <ion-button class="ion-hide-sm-down" id="filter-btn" (click)="presentPopover()">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>

      <!-- <ion-button> -->
      <!-- <ion-icon slot="icon-only" name="notifications-outline"></ion-icon> -->
      <!-- </ion-button> -->

      <!-- profile -->
      <!-- student profile for testing -->
      <a href="/peoplepulse/profile">
        <ion-avatar style="margin-left: 1rem">
          <ng-template let-photo [ngIf]="photo$ | async">
            <!-- <ion-img class="profile-photo virtual-card-student-img" [src]=" -->
            <!-- 'data:image/jpg;base64,' + -->
            <!-- photo?.base64_photo -->
            <!-- " (ionError)="$event.target.src = 'assets/img/no_img.png'"> -->
            <!-- </ion-img> -->
            <!-- for demo use this -->
            <img
              class="profile-photo"
              src="https://d37plr7tnxt7lb.cloudfront.net/436.jpg"
              onerror="this.src='assets/img/no_img.png'"
              alt="Profile"
            />
          </ng-template>

          <!-- staff img test with staff acc -->
          <ng-template #staffImage>
            <ng-container>
              <ng-container *ngIf="staffProfile$ | async as staffProfile">
                <img
                  [src]="staffProfile[0].PHOTO"
                  onerror="this.src='assets/img/no_img.png'"
                  alt="Profile"
                />
              </ng-container>
            </ng-container>
          </ng-template>
        </ion-avatar>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
