<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="closeModal()">
        CLOSE
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!onEdit else editTitle" >New Intake Entry</ion-title>
    <ng-template #editTitle>
      <ion-title>Edit Intake Entry</ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding" size-xs="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-card>
          <ion-card-content class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="stacked" class="item-label">
                Intakes
              </ion-label>
              <div *ngIf="!onEdit else editMode" class="form-input">
                <ion-button color="medium" fill="outline" expand="block" (click)="presentIntakeSearch()">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
                <div class="scrollable-div">
                  <ion-chip *ngFor="let intake of intakeArray.controls; let i = index;">
                    <ion-label>{{intake.value}}</ion-label>
                    <ion-icon (click)="removeIntake(i)" name="close-circle"></ion-icon>
                  </ion-chip>
                </div>
              </div>
              <ng-template #editMode>
                <ion-input (click)="presentIntakeSearch()" [formControl]="intakeForm.controls['intake']" class="form-input"></ion-input>
              </ng-template>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked" class="item-label">
                Venue
              </ion-label>
              <ion-select [formControl]="intakeForm.controls['venue']" class="form-input">
                <ion-select-option *ngFor="let venue of venues" [value]="venue">{{ venue }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-row class="ion-margin">
              <ion-col size="12">
                <ion-label position="stacked" class="item-label">
                  Docket Issuance
                </ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-datetime presentation="date" [max]="nextYears" [formControl]="intakeForm.controls['docketIssuance']" class="form-input"></ion-datetime>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin">
              <ion-col size="12">
                <ion-label position="stacked" class="item-label">
                  Exam Result Date
                </ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-datetime presentation="date" [max]="nextYears" [formControl]="intakeForm.controls['examResultDate']" class="form-input"></ion-datetime>
              </ion-col>
            </ion-row>
            <ion-button (click)="submit()" [disabled]="intakeForm.invalid" expand="block" color="primary" class="ion-margin">SUBMIT</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
