<ion-header>
  <ion-toolbar>
    <ion-title>Change Webspace Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="glob-container">
    <ion-breadcrumbs [maxItems]="2">
      <ion-breadcrumb>
        Settings
        <ion-icon slot="separator" name="chevron-forward"></ion-icon>
      </ion-breadcrumb>
      <ion-breadcrumb>
        Main Menu
        <ion-icon slot="separator" name="chevron-forward"></ion-icon>
      </ion-breadcrumb>
      <ion-breadcrumb>
        Webspace Password
      </ion-breadcrumb>
    </ion-breadcrumbs>

    <ion-row>
      <ion-col size-xs="12" size-md="8" class="glob-margin-auto">
        <ion-card class="ion-no-margin">
          <form [formGroup]="changePasswordForm">
            <div class="ion-margin-bottom">
              <ion-item lines="none">
                <ion-label position="stacked">
                  Current Password
                </ion-label>

                <ion-input placeholder="Enter your Current Password" type="password" formControlName="current_password">
                </ion-input>
              </ion-item>

              <div class="error-message"
                *ngIf="(currentPassword.dirty || currentPassword.touched) && currentPassword.errors?.required">
                <ion-text color="danger">
                  <small>
                    Please enter your Current Password.
                  </small>
                </ion-text>
              </div>
            </div>

            <div class="ion-margin-bottom">
              <ion-item lines="none">
                <ion-label position="stacked">
                  New Password
                </ion-label>

                <ion-input placeholder="Enter your New Password" type="password" formControlName="new_password">
                </ion-input>
              </ion-item>

              <div class="error-message"
                *ngIf="(newPassword.dirty || newPassword.touched) && newPassword.errors?.required">
                <ion-text color="danger">
                  <small>
                    Please enter your NEW Password.
                  </small>
                </ion-text>
              </div>
            </div>

            <div class="ion-margin-bottom">
              <ion-item lines="none">
                <ion-label position="stacked">
                  Confirm Password
                </ion-label>

                <ion-input placeholder="Enter your Confirm Password" type="password" formControlName="confirm_password">
                </ion-input>
              </ion-item>

              <div class="error-message"
                *ngIf="(confirmPassword.dirty || confirmPassword.touched) && (confirmPassword.errors?.required || changePasswordForm.errors?.mismatch)">
                <ion-text color="danger" *ngIf="confirmPassword.errors?.required">
                  <small>
                    Please re-enter your NEW Password.
                  </small>
                </ion-text>
                <ion-text color="danger" *ngIf="changePasswordForm.errors?.mismatch">
                  <small>
                    New Password and Confirm Password does not Match.
                  </small>
                </ion-text>
              </div>
            </div>
          </form>

          <ion-card-content>
            <ion-button expand="block" (click)="changePassword()">
              Change Password
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
