<ion-row class="ion-hide-sm-up ion-nowrap ion-align-items-center">
  <ion-searchbar></ion-searchbar>
  <!-- <ion-button (click)="toggleFilter()"> -->
  <ion-button>
    <ion-icon slot="icon-only" name="options-outline"></ion-icon>
  </ion-button>
</ion-row>

<!-- <ion-modal  -->
<!-- class="ion-hide-sm-up"  -->
<!-- [isOpen]="isFilterOpen" -->
<!-- [breakpoints]="[0.1, 0.5, 1]" -->
<!-- [initialBreakpoint]="0.5" -->
<!-- > -->
<!-- <ng-template> -->
<!-- [> <app-filter></app-filter> <] -->
<!-- </ng-template> -->
<!-- </ion-modal> -->
