.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%; /* Limit the width to prevent over-expanding */
  text-align: center;
  margin: 0 auto; /* Set the margin to center the content horizontally */
}

.otp-value {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 2vh;
  word-wrap: break-word; /* Allow the OTP value to wrap if necessary */
}

.note {
  width: auto;
  font-size: 14px; /* Set a specific font size, adjust as needed */
  color: red;
  margin-top: 5vh;
  white-space: normal;
}

ion-button {
  margin-top: 4vh;
}

@media (max-width: 768px) {
  .otp-value {
    font-size: 12vw;
    font-weight: bold;
    margin-bottom: 2vh;
    word-wrap: break-word; /* Allow the OTP value to wrap if necessary */
  }
}
