.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 30vw;
  text-align: center;
  margin: auto auto;
}

.otp-value {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 2vh;
}

.note {
  width: auto; /* Update width to 'auto' */
  font-size: 1vw;
  color: red;
  margin-top: 5vh;
  white-space: normal; /* Reset white-space property to allow wrapping */
}

ion-button {
  margin-top: 4vh;
}
