<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" size-xl="10" offset-md="2" offset-xl="1">
        <ion-card *ngIf="loaded; else loadingCalendar">
          <ion-card-content class="ion-no-padding">
            <ion-calendar 
                            [(ngModel)]="openDate" 
                            (change)="onChange($event)" 
                            [options]="options" 
                            [type]="'string'"
                            [format]="'YYYY-MM-DD'"
                            class="glob-calendar calendar "
                            >
            </ion-calendar>
              <div *ngIf="showDetails; else noDetails">
                <ion-list >
                  <ion-item *ngFor="let detail of detailsList; let last=last" [lines]="last ? 'none' : 'full'" [class]="detail.ATTENDANCE_STATUS === 'Y'
                                                                                                              ? 'attended'
                                                                                                              : detail.ATTENDANCE_STATUS === 'N'
                                                                                                              ? 'absent'
                                                                                                              : detail.ATTENDANCE_STATUS === 'R'
                                                                                                              ? 'absent-reason'
                                                                                                              : detail.ATTENDANCE_STATUS === 'L'
                                                                                                              ? 'late'
                                                                                                              : ''">
                    <ion-label>
                      <h3 class="glob-text-bold">{{ detail.CLASS_TYPE }}</h3>
                      <p>{{ detail.TIME_FROM + ' - ' + detail.TIME_TO }}</p>
                    </ion-label>
                  </ion-item>
                </ion-list>
                <ion-row class="ion-justify-content-center" style="padding-top: 5px;">
                  <p> <span class="dot" style="background: #49B571"></span>  Present </p> 
                  <p class="legend"> <span class="dot" style="background: #E54D42"></span>  Absent </p> 
                  <p class="legend"> <span class="dot" style="background: #36A2EB"></span>  Absent with Reason </p> 
                  <p class="legend"> <span class="dot" style="background: #D49A0D"></span>  Late </p> 
                </ion-row>
              </div>

              <ng-template #noDetails>
                <ion-text color="primary" class="ion-text-center">
                  <p>Please select a day to view more details</p>
                </ion-text>
              </ng-template>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #loadingCalendar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xl="10" offset-xl="1">
          <ion-card>
            <ion-card-content>
              <ion-skeleton-text animated style="width: 100%; line-height: 300px"></ion-skeleton-text>
              <ion-skeleton-text class="glob-margin-auto" animated style="width: 80%; line-height: 10px; margin-top: 30px;"></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
