.text-message {
  text-align: center;
  color: var(--ion-color-medium);
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .loading-text {
    margin-top: 20px;
    text-align: center;
    width: 250px;
    color: var(--ion-color-primary);
    font-size: 18px;
  }
}
