<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PeoplePulse</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- desktop search & filter -->
    <ion-buttons slot="end" style="margin-right: 1rem">
      <ion-button class="ion-hide-sm-down" id="admin-btn" (click)="navigateToAdmin()">
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
      </ion-button>
       
      <ion-button
        class="ion-hide-sm-down"
        (click)="navigateToStaffs()"
      >
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>

      <ion-button class="ion-hide-sm-down" id="filter-btn" (click)="presentFilterModal()">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>


      <!-- profile -->
      <ion-avatar style="margin-left: 1rem" (click)="navigateToProfile()">
        <!-- staff img test with staff acc -->
        <ng-container>
          <ng-container *ngIf="staffProfile$ | async as staffProfile">
            <img
              [src]="staffProfile[0].PHOTO"
              onerror="this.src='assets/img/no_img.png'"
              alt="Profile"
            />
          </ng-container>
        </ng-container>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- mobile search & filter -->
  <ion-item class="ion-hide-sm-up" style="--background: none" lines="none">
    <ion-buttons slot="end">
      <ion-button
        color="primary"
        fill="solid"
        size="small"
        class="ion-hide-sm-up"
        (click)="navigateToStaffs()"
      >
        Search
        <ion-icon slot="start" name="search-outline"></ion-icon>
      </ion-button>

      <ion-button 
        color="primary"
        fill="solid"
        size="small"
        class="ion-hide-sm-up"
        id="filter-btn"
        (click)="presentFilterModal()"
      >
        Filter
        <ion-icon slot="start" name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <!-- posts -->
  <ion-content class="ion-padding">
    <div *ngIf="posts; else loading">
      <div *ngIf="posts.length > 0; else noPosts">
        <app-pp-post *ngFor="let post of posts; let i = index" [post]="post" id="post-{{i+1}}"editable="post.user_id === staff.ID"></app-pp-post>
        <div *ngIf="loadingMore">
          <ion-card *ngFor="let i of [].constructor(3)" class="skeleton-card">
            <ion-card-header>
              <span class="display: flex">
              <ion-avatar style="--border-radius: 0">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              </span>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text animated class="skeleton-card-text"></ion-skeleton-text>
              <ion-skeleton-text animated class="skeleton-card-text"></ion-skeleton-text>
              <ion-skeleton-text animated class="skeleton-card-text"></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <ng-template #noPosts>
        <p class="ion-text-center">No posts yet...</p>
      </ng-template>
    </div>
    <ng-template #loading>
      <ion-card *ngFor="let i of [].constructor(3)" class="skeleton-card">
        <ion-card-header>
          <span class="display: flex">
          <ion-avatar style="--border-radius: 0">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          </span>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated class="skeleton-card-text"></ion-skeleton-text>
          <ion-skeleton-text animated class="skeleton-card-text"></ion-skeleton-text>
          <ion-skeleton-text animated class="skeleton-card-text"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToAddPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
