ion-avatar {
  width: 2.5rem;
  height: 2.5rem;
  // border: 1px solid blue;
  cursor: pointer;
}

.skeleton-card {
  max-width: 42rem;
  margin: auto;
  margin-top: 2rem;
}

.skeleton-card-text {
  height: 1rem;
  margin: .5rem 0;
}


#onboarding {
  max-width: 42rem;
  margin: auto;
  margin-bottom: 2rem;
}

#onboarding ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-native {
  margin: 0;
}

@media (min-width: 1024px) {
  ion-fab {
    margin: 0 calc((100vw  - 54rem) / 2) 4vh 0;
  }
}
