<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PeoplePulse</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" style="margin-right: 1rem">
      <!-- desktop searchbar -->
      <ion-button
        class="ion-hide-sm-down"
        (click)="navigateToStaffs()"
      >
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>

      <!-- desktop filter -->
      <ion-button class="ion-hide-sm-down" id="filter-btn" (click)="presentFilterModal()">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>

      <!-- profile -->
      <ion-avatar style="margin-left: 1rem" (click)="navigateToProfile()">
        <!-- student profile for testing -->
        <ng-template let-photo [ngIf]="photo$ | async">
          <!-- <ion-img class="profile-photo virtual-card-student-img" [src]=" -->
          <!-- 'data:image/jpg;base64,' + -->
          <!-- photo?.base64_photo -->
          <!-- " (ionError)="$event.target.src = 'assets/img/no_img.png'"> -->
          <!-- </ion-img> -->
          <!-- for demo use this -->
          <img
            class="profile-photo"
            src="https://d37plr7tnxt7lb.cloudfront.net/436.jpg"
            onerror="this.src='assets/img/no_img.png'"
            alt="Profile"
          />
        </ng-template>

        <!-- staff img test with staff acc -->
        <ng-template #staffImage>
          <ng-container>
            <ng-container *ngIf="staffProfile$ | async as staffProfile">
              <img
                [src]="staffProfile[0].PHOTO"
                onerror="this.src='assets/img/no_img.png'"
                alt="Profile"
              />
            </ng-container>
          </ng-container>
        </ng-template>
      </ion-avatar>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="ion-padding">
    <app-pp-post *ngFor="let post of posts" [post]="post"></app-pp-post>
  </ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToAddPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
