<ion-header>
  <ion-toolbar>
    <ion-title>Moodle Event</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-no-padding ion-no-margin ion-padding-bottom">
      <ion-col>
        <ion-text>{{moodleItem.name | titlecase}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="checkDescription(moodleItem)" class="ion-no-padding ion-no-margin">
      <ion-col>
        <ion-text class="ion-text-capitalize" [innerHTML]="moodleItem.description"></ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin ion-padding-bottom">
      <ion-col>
        <ion-text>{{moodleItem.eventtype | titlecase}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin ion-padding-bottom">
      <ion-col>
        <ion-text>{{moodleItem.modulename | titlecase}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="ion-margin-bottom" expand="block" color="primary" [href]="'https://lms2.apiit.edu.my/course/view.php?id=' + moodleItem.courseid" target="_blank">See Course
  </ion-button>
</ion-content>

