<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToast()">
        <ion-icon size="large" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>AttendiX | View Attendance </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- just subscribe for the side effects -->
  <ng-template [ngIf]="lastMarked$ | async"></ng-template>
  <ion-grid class="ion-justify-content-evenly">
    <ion-row>
      <ion-col size-xl="6.5" size="12">
        <!-- Students List -->
        <ion-card>
          <ion-card-header>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col class="glob-margin-auto ion-no-padding">
                  <ion-card-title color="primary">
                    Students List
                  </ion-card-title>
                </ion-col>
                <ion-col class="ion-no-padding select-container">
                  <ion-grid class="ion-no-padding">
                    <ion-row>
                      <ion-col class="ion-no-padding glob-margin-auto ion-padding-end">
                        <ion-select class="input" [(ngModel)]="type" placeholder="Status" interface="popover">
                          <ion-select-option value="">Any Status</ion-select-option>
                          <ion-select-option value="Y">Present</ion-select-option>
                          <ion-select-option value="L">Late</ion-select-option>
                          <ion-select-option value="N">Absent</ion-select-option>
                          <ion-select-option value="R">Absent with reason</ion-select-option>
                        </ion-select>
                      </ion-col>
                      <ion-col class="ion-no-padding">
                        <ion-searchbar class="input ion-no-padding no-box-shadow" placeholder="Student ID, Name"
                          [(ngModel)]="term"></ion-searchbar>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>

          <ion-card-content class="ion-no-padding">
            <!-- table -->
            <ion-card class="table ion-no-margin">
              <ion-card-content class="table-container">
                <ion-grid class="ion-no-padding">
                  <ng-container *ngIf="students$ | async as studentsList">
                    <ng-container *ngIf="studentsList | attendance:type | search:term as filteredStudents">
                      <ng-container *ngIf="filteredStudents.length > 0; else noFilteredStudents">
                        <ion-virtual-scroll [items]="filteredStudents" [trackBy]="trackById" approxItemHeight="48px">
                          <ion-row class="table-row glob-text-bold ion-no-margin"
                            *virtualItem="let student; let i = index;" [ngClass]="'state' + student.attendance">
                            <ion-col class="glob-margin-auto" size="1" size-sm="auto">
                              <p class="larger-font-size">
                                <ion-text>{{i + 1}}.</ion-text>
                              </p>
                            </ion-col>
                            <ion-col class="glob-margin-auto ion-padding-start" size="4" size-sm="auto">
                              <p class="larger-font-size">
                                <ion-text class="text-bold">{{ student.id }}</ion-text>
                              </p>
                            </ion-col>
                            <ion-col class="glob-margin-auto ion-padding-start" size="7" size-sm="">
                              <p class="larger-font-size">
                                <ion-text class="text-bold">{{ student.name }}</ion-text>
                              </p>
                            </ion-col>
                            <ion-col size="3" size-sm="" class="glob-margin-auto ion-no-padding"
                              *ngIf="student.attendance === 'N' || student.attendance === 'R'">
                              <ion-text *ngIf="student.absentReason">{{ student.absentReason }}</ion-text>
                            </ion-col>
                            <ion-col size="9" size-sm="" class="glob-margin-auto ion-text-right">
                              <ion-button size="small" class="glob-text-bold" color="white" disabled=true
                                *ngIf="student.attendance === 'Y'">Present</ion-button>
                              <ion-button size="small" class="glob-text-bold" color="white" disabled=true
                                *ngIf="student.attendance === 'L'">Late</ion-button>
                              <ion-button size="small" class="glob-text-bold" color="white" disabled=true
                                *ngIf="student.attendance === 'N'">Absent</ion-button>
                              <ion-button size="small" class="glob-text-bold" color="white" disabled=true
                                *ngIf="student.attendance === 'R'">Absent with reason</ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-virtual-scroll>
                      </ng-container>
                      <ng-template #noFilteredStudents>
                        <ion-row>
                          <ion-col size="12">
                            <h2 class="ion-text-center ion-padding">No students found
                              {{term ? 'with the keyword ' + term : ''}} <span *ngIf="type"> and status of
                                {{type === 'Y' ? 'Present' : type === 'N' ? 'Absent' : type === 'L' ? 'Late' : 'Absent
                                with
                                reason'}}</span>.
                            </h2>
                          </ion-col>
                        </ion-row>
                      </ng-template>
                    </ng-container>
                  </ng-container>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xl="5.5" size="12">
        <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>Class Attendance</ion-card-title>
            <ion-card-subtitle>
              For {{ schedule!.classcode }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-md="6" size-lg="5">
                  <div>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-icon slot="start" color="primary" name="calendar-outline" class="main-text-color"></ion-icon>
                      <ion-label>{{schedule!.classType}} on {{schedule!.date | date : 'EEE, dd MMM yyy' }}</ion-label>
                    </ion-item>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-icon slot="start" color="primary" name="alarm-outline" class="main-text-color"></ion-icon>
                      <ion-label>{{schedule!.startTime}} to {{schedule!.endTime}}</ion-label>
                    </ion-item>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-icon slot="start" color="primary" name="people-outline" class="main-text-color"></ion-icon>
                      <ion-label>{{totalStudents$ | async}} Students</ion-label>
                    </ion-item>
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-icon slot="start" color="primary" name="pricetag-outline" class="main-text-color"></ion-icon>
                      <ion-text class="ion-no-padding">{{ lectureUpdate }}</ion-text>
                    </ion-item>
                  </div>
                </ion-col>
                <ion-col size="12" size-md="6" size-lg="4" class="glob-margin-auto">
                  <chart *ngIf="studentsChartData$ | async as chartData" height="300" width="300"
                    [type]="doughnutChart.type" [data]="chartData" [options]="doughnutChart.options">
                  </chart>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
