.table {
    .table-container {
      padding: 0;
  
      .table-row {
        min-height: 42px;
        padding: 10px;
        border-bottom: 1px solid var(--ion-border-color);
  
        &:hover {
          background: var(--tertiary-bg-color);
        }
      }
    }
  
    // Attendance Status (stateR: absent with reason, stateL: Late, stateN: absent, stateY: present)
    .stateR {
      color: #ffffff;
      background: #36a2eb !important;
      // border-color: #36A2EB !important;
    }
  
    .stateN {
      color: #ffffff;
      background: #e54d42 !important;
      // border-color: #e54d42 !important;
      --background-hover: #af4448 !important;
    }
  
    .stateL {
      color: #ffffff;
      background: #d49a0d !important;
      // border-color: #d49a0d !important;
      --background-hover: #cabf45 !important;
    }
  
    .stateY {
      color: #ffffff;
      background: #49b571 !important;
      // border-color: #49b571 !important;
      --background-hover: #519657 !important;
    }
  }