<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="glob-container">
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card class="ion-no-margin glob-small-margin-bottom">
          <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" mode="md">
            <ion-label>
              Themes
            </ion-label>
            <ion-icon name="color-palette-outline" color="primary" slot="end"></ion-icon>
          </ion-item-divider>

          <ion-radio-group [ngModel]="theme$ | async" (ngModelChange)="themeChanged($event)">
            <ion-list-header>
              <ion-label class="glob-small-margin-top glob-small-margin-bottom">
                <h3>Appearance</h3>
                <p>Choose your preferred Theme Mode.</p>
              </ion-label>
            </ion-list-header>

            <ion-item lines="none" *ngFor="let t of themes">
              <ion-label>
                {{ t.title }}
              </ion-label>
              <ion-radio slot="end" [value]="t.value"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-item lines="none" mode="md">
            <ion-label position="stacked">
              Accent Color
            </ion-label>
            <ion-select interface="popover" [ngModel]="accent$ | async" (ngModelChange)="accentChanged($event)">
              <ion-select-option *ngFor="let a of accentColors" [value]="a.name">
                {{ a.title | titlecase }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card class="ion-no-margin glob-small-margin-bottom">
          <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" mode="md">
            <ion-label>
              Dashboard
            </ion-label>
            <ion-icon name="grid-outline" color="primary" slot="end"></ion-icon>
          </ion-item-divider>

          <ng-container *ngIf="(dashboardSections$ | async) as dashboardSections">
            <ion-item lines="inset">
              <ion-label class="ion-text-wrap" *ngIf="dashboardSections.length > 0; else noSections">
                <h3>Active Sections</h3>
                <p>
                  <span *ngFor="let s of dashboardSections; let isLast = last">
                    {{ isStudent ? studentDashboard[s] : staffDashboard[s] }}
                    <span *ngIf="!isLast">, </span>
                  </span>
                </p>
              </ion-label>

              <ng-template #noSections>
                <ion-label color="danger" class="glob-text-bold">
                  No Sections Active
                </ion-label>
              </ng-template>
            </ion-item>

            <ion-item lines="none" button="true" detail="true"
              (click)="manageSettings('dashboard sections', dashboardSections)">
              <ion-icon name="cog" slot="start"></ion-icon>
              <ion-label class="ion-text-wrap">
                <h3>Manage Dashboard Sections</h3>
                <p>Select the kinds of Dashboard Sections you would like to show.</p>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-card>

        <ion-card class="ion-no-margin glob-small-margin-bottom">
          <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" mode="md">
            <ion-label>
              Others
            </ion-label>
            <ion-icon name="apps-outline" color="primary" slot="end"></ion-icon>
          </ion-item-divider>

          <ion-radio-group [ngModel]="menuUI$ | async" (ngModelChange)="menuChanged($event)">
            <ion-list-header>
              <ion-label class="glob-small-margin-top glob-small-margin-bottom">
                <h3>Menu UI</h3>
                <p>Choose your preferred More Page View.</p>
              </ion-label>
            </ion-list-header>

            <ion-item *ngFor="let m of menuView">
              <ion-label>
                {{ m | titlecase }}
              </ion-label>
              <ion-radio slot="end" [value]="m"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ng-container *ngIf="!isStudent">
            <ion-item *ngIf="(studentDashboardName$ | async) as studentDashboardName" detail="true" button="true"
              (click)="manageSettings('dashboard name', studentDashboardName)">
              <ion-label class="ion-text-wrap">
                <h3>Modify Dashboard Name</h3>
                <p *ngIf="studentDashboardName.length > 0; else defaultName">
                  <span *ngFor="let s of studentDashboardName; let isLast = last">
                    {{ s }}<span *ngIf="!isLast">, </span>
                  </span>
                </p>

                <ng-template #defaultName>
                  <p>Default Name</p>
                </ng-template>
              </ion-label>
            </ion-item>
          </ng-container>

          <ion-item lines="inset">
            <ion-label>Hide Profile Picture</ion-label>
            <ion-toggle [ngModel]="hideProfilePicture$ | async" (ngModelChange)="hideProfilePictureChanged($event)">
            </ion-toggle>
          </ion-item>

          <ion-item lines="inset">
            <ion-label>
              Use Local Timezone
            </ion-label>
            <ion-toggle [ngModel]="enableMalaysiaTimezone$ | async" (ngModelChange)="timezoneChanged($event)">
            </ion-toggle>
          </ion-item>

          <ion-radio-group [ngModel]="timeFormat$ | async" (ngModelChange)="timeFormatChanged($event)">
            <ion-list-header>
              <ion-label class="glob-small-margin-top glob-small-margin-bottom">
                <h3>Time Format</h3>
                <p>Choose your preferred Time Format.</p>
              </ion-label>
            </ion-list-header>

            <ion-item lines="inset" *ngFor="let t of timeFormats">
              <ion-label>
                {{ t }} Hours
              </ion-label>
              <ion-radio slot="end" [value]="t"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-item lines="inset">
            <ion-label>
              Disable Shake Feedback
              <p *ngIf="!isCapacitor">This feature available only on mobile app</p>
            </ion-label>
            <ion-toggle [disabled]="!isCapacitor" [ngModel]="disableShakespear$ | async"
              (ngModelChange)="shakespearChanged($event)"></ion-toggle>
          </ion-item>

          <ion-item lines="none">
            <ion-label>
              Shake Sensitivity
              <p *ngIf="!(disableShakespear$ | async) && isCapacitor">
                <small class="glob-danger-text glob-fw-600">Shake Feedback is Disabled</small>
              </p>

              <p *ngIf="!isCapacitor">
                <small class="glob-fw-600">This feature available only on mobile app</small>
              </p>
              <ion-range [disabled]="!isCapacitor" value="1400" color="primary" min="0" max="4" step="1" ticks="true"
                snaps="true" pin="true" [ngModel]="shakeSensitivity$ | async"
                (ngModelChange)="shakespearSensitivityChanged($event)">
                <ion-icon slot="start" size="small" color="primary" name="trending-down"></ion-icon>
                <ion-icon slot="end" color="primary" name="trending-up"></ion-icon>
              </ion-range>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-card class="ion-no-margin glob-small-margin-bottom">
          <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" mode="md">
            <ion-label>
              Bus Shuttle Service
            </ion-label>
            <ion-icon name="bus-outline" color="primary" slot="end"></ion-icon>
          </ion-item-divider>

          <ng-container *ngIf="(locations$ | async) as locations; else loadLocations">
            <ion-item lines="none" mode="md">
              <ion-label position="stacked">
                First Location
              </ion-label>
              <ion-select interface="popover" [ngModel]="busShuttleServiceSettings$.firstLocation | async"
                (ngModelChange)="busShuttleServicesChanged($event, 'first')">
                <ion-select-option *ngFor="let l of locations" [value]="l.location_name">
                  {{ l.location_nice_name }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none" mode="md">
              <ion-label position="stacked">
                Second Location
              </ion-label>
              <ion-select interface="popover" [ngModel]="busShuttleServiceSettings$.secondLocation | async"
                (ngModelChange)="busShuttleServicesChanged($event, 'second')">
                <ion-select-option *ngFor="let l of locations" [value]="l.location_name">
                  {{ l.location_nice_name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ng-container>

          <ng-template #loadLocations>
            <ion-item *ngFor="let _ of skeleton; let last = last" [lines]="last ? 'none' : null">
              <ion-label>
                <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 30%; height: 15px"></ion-skeleton-text>
              </ion-label>
            </ion-item>
          </ng-template>
        </ion-card>

        <ion-card class="ion-no-margin glob-small-margin-bottom" *ngIf="isStudent">
          <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" mode="md">
            <ion-label>
              Student Timetable
            </ion-label>
            <ion-icon name="calendar-outline" color="primary" slot="end"></ion-icon>
          </ion-item-divider>

          <ng-container *ngIf="(modulesBlacklist$ | async) as modulesBlacklist">
            <ion-item lines="inset">
              <ion-label *ngIf="modulesBlacklist.length > 0; else noModules">
                <h3>Hidden Modules</h3>
                <p>
                  <span *ngFor="let m of modulesBlacklist; let isLast = last">
                    {{ m }}
                    <span *ngIf="!isLast">, </span>
                  </span>
                </p>
              </ion-label>

              <ng-template #noModules>
                <ion-label color="danger" class="glob-text-bold">
                  No Modules Blacklisted
                </ion-label>
              </ng-template>
            </ion-item>

            <ion-item lines="inset" button="true" detail="true" (click)="timetableModuleBlacklistsAdd()">
              <ion-icon name="add" slot="start"></ion-icon>
              <ion-label>
                Add Hidden Modules
              </ion-label>
            </ion-item>
            <ion-item lines="none" button="true" detail="true"
              (click)="manageSettings('hidden modules', modulesBlacklist)">
              <ion-icon name="cog" slot="start"></ion-icon>
              <ion-label class="ion-text-wrap">
                <h3>Manage Hidden Modules</h3>
                <p>Select the kinds of modules you would like to hide.</p>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-card>

        <ion-card class="ion-no-margin glob-small-margin-bottom" *ngIf="!isStudent">
          <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" mode="md">
            <ion-label>
              iConsult Default Location
            </ion-label>
            <ion-icon name="location-outline" color="primary" slot="end"></ion-icon>
          </ion-item-divider>

          <ion-item lines="inset" mode="md">
            <ion-label position="stacked">
              Campus
            </ion-label>
            <ion-select interface="popover" placeholder="Select a Campus" [(ngModel)]="defaultCampus"
              (ngModelChange)="updateDefaultLocation('campus')">
              <ion-select-option *ngFor="let c of campusLocation" [value]="c">
                {{ c }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none" mode="md">
            <ng-container *ngIf="defaultCampus; else noCampusSelected">
              <ng-container *ngIf="(venues$ | async) as venues; else loadVenues">
                <ion-label position="stacked">
                  Venue
                </ion-label>
                <ion-select interface="popover" placeholder="Select a Venue" [(ngModel)]="defaultVenue"
                  (ngModelChange)="updateDefaultLocation('venue')">
                  <ion-select-option *ngFor="let v of venues" [value]="v.id">
                    {{ v.room_code }}
                  </ion-select-option>
                </ion-select>
              </ng-container>

              <ng-template #loadVenues>
                <ion-label>
                  <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 30%; height: 15px"></ion-skeleton-text>
                </ion-label>
              </ng-template>
            </ng-container>

            <ng-template #noCampusSelected>
              <ion-label color="danger" class="glob-text-bold">
                No Campus Selected
              </ion-label>
            </ng-template>
          </ion-item>
        </ion-card>

        <ion-card class="ion-no-margin glob-small-margin-bottom">
          <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" mode="md">
            <ion-label>
              Security & Privacy
            </ion-label>
            <ion-icon name="key-outline" color="primary" slot="end"></ion-icon>
          </ion-item-divider>

          <ion-item detail="true" button="true" lines="inset" (click)="openPage('settings/change-password')">
            <ion-label>
              Change APKey Password
            </ion-label>
          </ion-item>

          <ng-container *ngIf="!isStudent">
            <ion-item button="true" detail="true" lines="inset" (click)="openPage('settings/change-webspace-password')">
              <ion-label>
                Change Webspace Password
              </ion-label>
            </ion-item>

            <ion-item button="true" detail="true" lines="inset" (click)="openPage('settings/reset-webspace-password')">
              <ion-label>
                Reset Webspace ID Password
              </ion-label>
            </ion-item>
          </ng-container>

          <ion-item lines="none" detail="true" button="true" (click)="openPage('settings/set-security-questions')">
            <ion-label>
              Set Security Questions
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
