ion-title {
  text-align: center;
  width: 100%;
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-card {
  /* Adjust the card styles as needed */
  width: 80%; /* Example width, change as per your design */
  max-width: 35rem; /* Example max-width, change as per your design */
  margin: 0; /* Remove default margin */
  padding: 2rem; /* Add padding to spread out the card content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center the text content horizontally */
}

ion-card-content {
  flex: 1; /* Allow the content to expand and take available vertical space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.round-border {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  margin: 40px 0px;
}

.ion-margin {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-picture {
  margin-bottom: 10px;
}

.profile-details {
  margin-bottom: 20px;
}

.profile-details p {
  margin-bottom: 5px;
  font-size: 20px;
}

.details-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.details-subtitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.problem-solved-section {
  margin-top: 20px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons ion-button {
  flex: 1;
  margin-right: 10px;
}

.problem-section-card {
  background-color: rgb(42, 131, 255);
}

.problem-section-title {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  font-style: normal;
}

ion-footer {
  ion-toolbar {
    ion-row {
      ion-col {
        &:first-child {
          margin-right: 2rem; /* Add margin to the right side of the first button */
        }

        &:last-child {
          margin-left: 2rem; /* Add margin to the left side of the second button */
        }
      }
    }
  }
}

/* Styles for smaller screens (e.g., mobile phones) */
@media screen and (max-width: 767px) {
  ion-title h1 {
    font-size: 20px; /* Adjust the font size as needed */
  }

  .details-title {
    font-size: 18px; /* Adjust the font size as needed */
  }

  .details-subtitle {
    font-size: 18px; /* Adjust the font size as needed */
  }

  .profile-details p {
    font-size: 16px; /* Adjust the font size as needed */
  }

  /* Custom styles for the ion-button */
  ion-button {
    /* Adjust the font-size to change the text size */
    font-size: 0.9rem; /* You can adjust this value as needed */
  }

  ion-footer {
    ion-toolbar {
      ion-row {
        /* Remove the margin on smaller screens to keep the buttons on the same line */
        ion-col {
          &:first-child {
            margin-right: 0; /* Remove the right margin on the first button */
          }

          &:last-child {
            margin-left: 0; /* Remove the left margin on the second button */
          }
        }
      }
    }
  }
}
