ion-card {
  max-width: 42rem;
  margin: auto;
  margin-top: 2rem;
}

img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  margin-right: 0.5rem;
}

#post-details p {
  margin: 0;
}

ion-button {
  margin: 0;
}
