<ion-header>
  <ion-toolbar>
    <ion-title>
      Student Survey
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-xs="12" size-md="4" push-md="8">
      <ion-card class="ion-no-margin"
        [ngClass]="(intakeCode && classCode && surveyType || surveyType === 'Programme Evaluation') ? 'ion-margin-bottom' : undefined">
        <ion-item-divider lines="none" color="light" mode="md">
          <ion-label class="glob-text-bold">
            <h2>Configuration Section</h2>
            <p>Select your intake & module</p>
          </ion-label>
        </ion-item-divider>

        <ng-container *ngIf="(COURSE_CODE$ | async) as intakeCourseCode; else loadingIntakes">
          <ion-item lines="full">
            <ion-label position="stacked">Intake</ion-label>
            <ion-select [(ngModel)]="selectedIntake" (ngModelChange)="onIntakeCodeChanged()" interface="popover"
              placeholder="Select an Intake">
              <ion-select-option *ngFor="let intake of intakeCourseCode" [value]="intake">
                {{ intake.COURSE_CODE_ALIAS }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ng-container>
        <ng-template #loadingIntakes>
          <ion-item lines="full">
            <ion-skeleton-text animated style="width: 100%; height: 35px;"></ion-skeleton-text>
          </ion-item>
        </ng-template>

        <ng-container *ngIf="(COURSE_MODULES$ | async) as intakeModules; else loadingModules">
          <ion-item lines="none" [disabled]="surveyType === 'Programme Evaluation' || intakeModules.length <= 0">
            <ion-label position="stacked">Module</ion-label>
            <ion-select [(ngModel)]="classCode" (ngModelChange)="onClassCodeChanged()" interface="popover"
              placeholder="Select a Module">
              <ion-select-option *ngFor="let module of intakeModules" [value]="module.CLASS_CODE">
                {{module.SUBJECT_DESCRIPTION}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ng-container>
        <ng-template #loadingModules>
          <ion-item lines="none">
            <ion-skeleton-text animated style="width: 100%; height: 35px;"></ion-skeleton-text>
          </ion-item>
        </ng-template>
      </ion-card>

      <ion-card class="ion-no-margin"
        *ngIf="intakeCode && classCode && surveyType || surveyType === 'Programme Evaluation'">
        <ion-item-divider lines="none" color="light" mode="md">
          <ion-label class="glob-text-bold">
            Details
          </ion-label>
        </ion-item-divider>
        <ion-card-content>
          <ng-container *ngIf="surveyType === 'Programme Evaluation'; else moduleSurveyDetails">
            <div *ngIf="selectedIntake.COURSE_DESCRIPTION">
              <small>
                <ion-text>
                  <b>Course Description</b>
                </ion-text>
              </small>
              <p class="glob-text-bold">
                <ion-text>
                  {{ selectedIntake.COURSE_DESCRIPTION }}
                </ion-text>
              </p>
            </div>

            <div *ngIf="selectedIntake.INTAKE_CODE">
              <small>
                <ion-text>
                  Intake Code
                </ion-text>
              </small>
              <p class="glob-text-bold">
                <ion-text>
                  {{ selectedIntake.INTAKE_CODE }}
                </ion-text>
              </p>
            </div>

            <div *ngIf="selectedIntake.TYPE_OF_COURSE">
              <small>
                <ion-text>
                  <b>Course Type/Level</b>
                </ion-text>
              </small>
              <p class="glob-text-bold">
                <ion-text>
                  {{ selectedIntake.TYPE_OF_COURSE }}
                </ion-text>
              </p>
            </div>
          </ng-container>
          <ng-template #moduleSurveyDetails>
            <div *ngIf="classCode">
              <small>
                <ion-text>
                  <b>Class Code</b>
                </ion-text>
              </small>
              <p class="glob-text-bold">
                <ion-text>
                  {{ classCode }}
                </ion-text>
              </p>
            </div>

            <div *ngIf="lecturerName">
              <small>
                <ion-text>
                  <b>Lecturer Name</b>
                </ion-text>
              </small>
              <p class="glob-text-bold">
                <ion-text>
                  {{ lecturerName }}
                </ion-text>
              </p>
            </div>

            <div *ngIf="selectedModule && selectedModule.SUBJECT_DESCRIPTION">
              <small>
                <ion-text>
                  <b>Subject Name</b>
                </ion-text>
              </small>
              <p class="glob-text-bold">
                <ion-text>
                  {{ selectedModule.SUBJECT_DESCRIPTION }}
                </ion-text>
              </p>
            </div>
          </ng-template>
          <div *ngIf="surveyType">
            <small>
              <ion-text>
                <b>Survey Type</b>
              </ion-text>
            </small>
            <p class="glob-text-bold">
              <ion-text color="tertiary">
                {{ surveyType }}
              </ion-text>
            </p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size-xs="12" size-md="8" pull-md="4">
      <ng-container *ngIf="!intakeCode; else intakeSelected">
        <ion-card class="ion-no-margin">
          <div class="ion-margin-top">
            <message-with-svg messageTitle="No Intake Selected!" messageContent="Select an Intake to submit the survey"
              imageUrl="assets/img/person_with_selection.svg">
            </message-with-svg>
          </div>
        </ion-card>

      </ng-container>
      <ng-template #intakeSelected>
        <ng-container *ngIf="(COURSE_MODULES$ | async) as intakeModules; else loadingMain">
          <ng-container *ngIf="!classCode; else classCodeSelected">
            <ng-container *ngIf="surveyType === 'Programme Evaluation'; else checkModule">
              <ng-container *ngTemplateOutlet="surveyContent"></ng-container>
            </ng-container>
            <ng-template #checkModule>
              <ng-container *ngIf="intakeModules.length <= 0; else noModuleSelected">
                <ion-card class="ion-no-margin">
                  <div class="ion-margin-top">
                    <message-with-svg messageTitle="No Surveys Needed!" messageContent="Either you have completed all of the
                    surveys for the selected intake
                    '{{ intakeCode }}', or the
                    surveys are not out yet." imageUrl="assets/img/people_celebrating.svg">
                    </message-with-svg>
                  </div>
                </ion-card>
              </ng-container>
              <ng-template #noModuleSelected>
                <ion-card class="ion-no-margin">
                  <div class="ion-margin-top">
                    <message-with-svg messageTitle="No Module Selected!"
                      messageContent="Select an Module to submit the survey"
                      imageUrl="assets/img/person_with_selection.svg">
                    </message-with-svg>
                  </div>
                </ion-card>
              </ng-template>
            </ng-template>
          </ng-container>
          <ng-template #classCodeSelected>
            <ng-container *ngIf="!surveyType; else surveyTypeSelected">
              <ion-card class="ion-no-margin">
                <div class="ion-margin-top">
                  <message-with-svg messageTitle="No Surveys Due!" messageContent="None of the survey types are due now"
                    imageUrl="assets/img/people_celebrating.svg">
                  </message-with-svg>
                </div>
              </ion-card>
            </ng-container>
            <ng-template #surveyTypeSelected>
              <ng-container *ngTemplateOutlet="surveyContent"></ng-container>
            </ng-template>
          </ng-template>
        </ng-container>
        <ng-template #loadingMain>
          <ion-card class="ion-no-margin">
            <ion-skeleton-text class="ion-no-margin" animated style="height: 300px; width: 100%;">
            </ion-skeleton-text>
          </ion-card>
        </ng-template>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-content>

<ng-template #surveyContent>
  <ng-container *ngIf="(survey$ | async) as surveys; else loadingsurvey">
    <div class="survey-wrapper" *ngFor="let survey of surveys">
      <div class="survey-sections" *ngIf="survey.sections.length > 0; else noSectionsAddedMsg">
        <div class="survey-section" *ngFor="let surveySection of survey.sections; index as i; let isLast = last">
          <ion-card class="ion-no-margin" [ngClass]="!isLast ? 'ion-margin-bottom' : undefined">
            <ion-item-divider lines="none" color="light" mode="md">
              <ion-label class="glob-text-bold" color="primary">
                Section {{ i + 1 }}: {{ surveySection.name }}
              </ion-label>
            </ion-item-divider>

            <div *ngIf="surveySection.questions.length > 0; else noQuestionsUnderThisSection">
              <div class="survey-question"
                [class.border-success]="response.answers[response.answers.indexOf(getAnswerByQuestionId(surveyQuestion.id))].content"
                [class.border-danger]="!response.answers[response.answers.indexOf(getAnswerByQuestionId(surveyQuestion.id))].content && showFieldMissingError"
                *ngFor="let surveyQuestion of surveySection.questions; index as questionIndex">
                <p class="question-title ion-padding-start ion-padding-end ion-no-margin ion-margin-bottom">
                  <ion-text
                    *ngIf="!response.answers[response.answers.indexOf(getAnswerByQuestionId(surveyQuestion.id))].content && showFieldMissingError"
                    color="danger">*</ion-text>
                  <ion-text
                    [color]="!response.answers[response.answers.indexOf(getAnswerByQuestionId(surveyQuestion.id))].content && showFieldMissingError ? 'danger' : 'primary'">
                    {{ surveyQuestion.content }}</ion-text>
                </p>
                <div>
                  <ng-template [ngIf]="surveyQuestion.type === 'MCQ'" [ngIfElse]="showTextArea">
                    <ion-list class="ion-no-padding">
                      <ion-radio-group
                        [(ngModel)]="response.answers[response.answers.indexOf(getAnswerByQuestionId(surveyQuestion.id))].content">
                        <ion-item lines="none" class="d-block d-lg-inline radio-btn"
                          [class.radio-btn-with-na]="!surveyQuestion.applicable" *ngFor="let mcqAnswer of msqAnswers">
                          <ion-radio color="success" slot="start" [value]="mcqAnswer.id">
                          </ion-radio>
                          <ion-label
                            [color]="response.answers[response.answers.indexOf(getAnswerByQuestionId(surveyQuestion.id))].content === mcqAnswer.id ? 'success' : ''">
                            {{mcqAnswer.content}}
                          </ion-label>
                        </ion-item>

                        <ion-item lines="none" *ngIf="!surveyQuestion.applicable" class="d-block d-lg-inline na">
                          <ion-radio value="0">
                          </ion-radio>
                          <ion-label style="font-size: 14px;">
                            N/A
                          </ion-label>
                        </ion-item>

                      </ion-radio-group>
                    </ion-list>
                  </ng-template>
                </div>
                <ng-template #showTextArea>
                  <ion-textarea rows="2" autoGrow="true"
                    [(ngModel)]="response.answers[response.answers.indexOf(getAnswerByQuestionId(surveyQuestion.id))].content"
                    type="text" name="note" class="with-padding" placeholder="Enter your answer here" maxlength="400">
                  </ion-textarea>
                </ng-template>
              </div>
            </div>
            <ng-template #noQuestionsUnderThisSection>
              <h2 class="glob-text-bold ion-text-center ion-padding-top ion-padding-bottom">
                <ion-text color="danger">
                  No Questions added under this Section.
                </ion-text>
              </h2>
            </ng-template>
          </ion-card>
        </div>
      </div>

      <ng-template #noSectionsAddedMsg>
        <ion-card class="ion-no-margin">
          <div class="ion-margin-top">
            <message-with-svg messageTitle="No Sections Available!"
              messageContent="There are no sections added to this survey yet"
              imageUrl="assets/img/search_not_found.svg">
            </message-with-svg>
          </div>
        </ion-card>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #loadingsurvey>
    <ion-card *ngFor="let _ of skeletons; let isLast = last" class="ion-no-margin"
      [ngClass]="!isLast ? 'ion-margin-bottom' : undefined">
      <ion-item>
        <ion-skeleton-text animated style="line-height: 30px; width: 100%"></ion-skeleton-text>
      </ion-item>
      <ion-item lines="none">
        <ion-skeleton-text animated style="width: 35%; line-height: 25px;"></ion-skeleton-text>
      </ion-item>
      <ion-item lines="none">
        <ion-skeleton-text animated style="width: 55%; line-height: 25px;"></ion-skeleton-text>
      </ion-item>
      <ion-item lines="none">
        <ion-skeleton-text animated style="width: 75%; line-height: 25px;"></ion-skeleton-text>
      </ion-item>
    </ion-card>
  </ng-template>
</ng-template>

<ion-footer *ngIf="surveyType === 'Programme Evaluation' || (classCode && intakeCode && surveyType)">
  <ion-toolbar>
    <ion-row>
      <ion-col size-xs="12" size-md="8">
        <ion-button (click)="submitSurvey()" expand="block" color="success">
          Submit
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
