<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Student Survey</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="4" push-md="8">
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>
              Configuration Section
            </ion-card-title>
            <ion-card-subtitle>
              <p>Select your intake & module</p>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ng-container *ngIf="(COURSE_CODE$ | async) as intakeCourseCode; else loadingIntakes">
              <ion-item color="primary" lines="full">
                <ion-label>Intake</ion-label>
                <ion-select [(ngModel)]="selectedIntake" (ngModelChange)="onIntakeCodeChanged()" interface="popover">
                  <ion-select-option *ngFor="let intake of intakeCourseCode | reverse" [value]="intake">
                    {{intake.COURSE_CODE_ALIAS}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ng-container>
            <ng-template #loadingIntakes>
              <ion-item color="primary" lines="full">
                <ion-skeleton-text animated style="width: 100%; height: 35px;"></ion-skeleton-text>
              </ion-item>
            </ng-template>
            <ng-container *ngIf="(COURSE_MODULES$ | async) as intakeModules; else loadingModules">
              <ion-item color="primary" lines="full"
                [disabled]="surveyType === 'Programme Evaluation' || intakeModules.length <= 0">
                <ion-label>Module</ion-label>
                <ion-select [(ngModel)]="classCode" (ngModelChange)="onClassCodeChanged()" interface="popover">
                  <ion-select-option *ngFor="let module of intakeModules" [value]="module.CLASS_CODE">
                    {{module.SUBJECT_DESCRIPTION}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ng-container>
            <ng-template #loadingModules>
              <ion-item color="primary" lines="full">
                <ion-skeleton-text animated style="width: 100%; height: 35px;"></ion-skeleton-text>
              </ion-item>
            </ng-template>
            <ion-item color="primary" lines="full" disabled="true" *ngIf="surveyType">
              <ion-label>Survey Type</ion-label>
              <ion-select [(ngModel)]="surveyType" interface="popover">
                <ion-select-option value="Programme Evaluation">
                  Programme Evaluation
                </ion-select-option>
                <ion-select-option value="End-Semester">
                  End-Semester
                </ion-select-option>
                <ion-select-option value="Mid-Semester">
                  Mid-Semester
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-md="8" pull-md="4">
        <ng-container *ngIf="!intakeCode; else intakeSelected">
          <ion-card>
            <ion-card-header>
              <ion-card-title color="danger" class="ion-text-center">
                Intake is missing!!
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-message-with-svg imageUrl="assets/img/question_mark.svg"
                messageTitle="Opps! It looks like that you did not select an intake"
                messageContent="Please select an intake from the configuration section" wrapperSize="6"
                wrapperMarginTop="30px" wrapperOffset="3">
              </app-message-with-svg>
            </ion-card-content>
          </ion-card>
        </ng-container>
        <ng-template #intakeSelected>
          <ng-container *ngIf="(COURSE_MODULES$ | async) as intakeModules; else loadingModules">
            <ng-container *ngIf="!classCode; else classCodeSelected">
              <ng-container *ngIf="surveyType === 'Programme Evaluation'; else checkModule">
                It is a programme evaluation
              </ng-container>
              <ng-template #checkModule>
                <ng-container *ngIf="intakeModules.length <= 0; else noModuleSelected">
                  modules are empty. All done
                </ng-container>
                <ng-template #noModuleSelected>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title color="danger" class="ion-text-center">
                        Module is missing!!
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <app-message-with-svg imageUrl="assets/img/question_mark.svg"
                        messageTitle="Opps! It looks like that you did not select a module"
                        messageContent="Please select a module from the configuration section." wrapperSize="6"
                        wrapperMarginTop="30px" wrapperOffset="3">
                      </app-message-with-svg>
                    </ion-card-content>
                  </ion-card>
                </ng-template>
              </ng-template>
            </ng-container>
            <ng-template #classCodeSelected>
              <ng-container *ngIf="!surveyType; else surveyTypeSelected">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>None of the survey types are due now!</ion-card-title>
                    <ion-card-title>There are no surveys to display at the current time for the selected module
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <app-message-with-svg imageUrl="assets/img/due_date.svg" messageTitle="" messageContent=""
                      wrapperSize="6" wrapperMarginTop="30px" wrapperOffset="3">
                    </app-message-with-svg>
                  </ion-card-content>
                </ion-card>
              </ng-container>
              <ng-template #surveyTypeSelected>
                All Three Selected
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>