<ion-header>
  <ion-toolbar>
    <ion-title>Change APKey Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="glob-container">
    <ion-row>
      <ion-col size-xs="12" size-md="8" class="glob-margin-auto">
        <ion-card class="ion-no-margin">
          <form [formGroup]="changePasswordForm">
            <div class="ion-margin-bottom">
              <ion-item lines="none">
                <ion-label position="stacked">
                  Current Password
                </ion-label>

                <ion-input placeholder="Enter your Current Password" type="password" formControlName="current_password">
                </ion-input>
              </ion-item>

              <div class="error-message"
                *ngIf="(currentPassword.dirty || currentPassword.touched) && currentPassword.errors?.required">
                <ion-text color="danger">
                  <small>
                    Please enter your Current Password.
                  </small>
                </ion-text>
              </div>
            </div>

            <div class="ion-margin-bottom">
              <ion-item lines="none">
                <ion-label position="stacked">
                  New Password
                </ion-label>

                <ion-input placeholder="Enter your New Password" type="password" formControlName="new_password">
                </ion-input>
              </ion-item>

              <div class="error-message"
                *ngIf="(newPassword.dirty || newPassword.touched) && newPassword.errors?.required">
                <ion-text color="danger">
                  <small>
                    Please enter your NEW Password.
                  </small>
                </ion-text>
              </div>
            </div>

            <div class="ion-margin-bottom">
              <ion-item lines="none">
                <ion-label position="stacked">
                  Confirm Password
                </ion-label>

                <ion-input placeholder="Enter your Confirm Password" type="password" formControlName="confirm_password">
                </ion-input>
              </ion-item>

              <div class="error-message"
                *ngIf="(confirmPassword.dirty || confirmPassword.touched) && (confirmPassword.errors?.required || changePasswordForm.errors?.mismatch)">
                <ion-text color="danger" confirmPassword.errors?.required>
                  <small>
                    Please re-enter your NEW Password.
                  </small>
                </ion-text>
                <ion-text color="danger" *ngIf="changePasswordForm.errors?.mismatch">
                  <small>
                    New Password and Confirm Password does not Match.
                  </small>
                </ion-text>
              </div>
            </div>
          </form>

          <div class="error-validation glob-small-margin-top" [ngClass]="passwordLengthMatch ? 'success' : 'danger'">
            <ion-icon [name]="passwordLengthMatch ? 'checkmark-outline' : 'close-outline'" size="small"></ion-icon>

            <b>Password must have a minimum of eight characters in length</b>
          </div>

          <div class="error-validation glob-small-margin-top" [ngClass]="hasUpperCase ? 'success' : 'danger'">
            <ion-icon [name]="hasUpperCase ? 'checkmark-outline' : 'close-outline'" size="small"></ion-icon>

            <b>Password must have at least one upper case English letter (i.e. a-z)</b>
          </div>

          <div class="error-validation glob-small-margin-top" [ngClass]="hasLowerCase ? 'success' : 'danger'">
            <ion-icon [name]="hasLowerCase ? 'checkmark-outline' : 'close-outline'" size="small"></ion-icon>

            <b>Password must have at least one lower case English letter (i.e. A-Z)</b>
          </div>

          <div class="error-validation glob-small-margin-top" [ngClass]="hasDigit ? 'success' : 'danger'">
            <ion-icon [name]="hasDigit ? 'checkmark-outline' : 'close-outline'" size="small"></ion-icon>

            <b>Password must have at least one digit (i.e. 0-9)</b>
          </div>

          <div class="error-validation glob-small-margin-top" [ngClass]="hasSpeacialCharacter ? 'success' : 'danger'">
            <ion-icon [name]="hasSpeacialCharacter ? 'checkmark-outline' : 'close-outline'" size="small"></ion-icon>

            <b>{{ 'Password must have at least one special character (e.g. #?!@$%~()_{}-)' }}</b>
          </div>

          <ion-card-content>
            <ion-button expand="block" (click)="changePassword()">
              Change Password
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
