.error-message {
  padding: 5px 16px;
}

.error-validation {
  align-items: center;
  display: flex;
  margin-left: 16px;

  ion-icon {
    margin-right: 7px;
  }

  &.success {
    color: var(--ion-color-success);
  }

  &.danger {
    color: var(--ion-color-danger);
  }
}
