<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event.target)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <div class="glob-container">
    <ion-row>
      <ng-container>

        <!-- Booking Details -->
        <ion-col size="12" size-md="4" push-md="8">
          <ion-card class="ion-no-margin">
            <ion-item-divider color="light">
              <ion-label color="primary" class="glob-text-bold">
                Booking Details
              </ion-label>
            </ion-item-divider>
            <ion-card-content>
              <ion-row class="field-row">
                <ion-col size="5" class="field-label">Parking Zone</ion-col>
                <ion-col size="7" class="field-value">{{chosenParkingSpot}}</ion-col>
              </ion-row>
              <ion-row class="field-row">
                <ion-col size="5" class="field-label">Date</ion-col>
                <ion-col size="7" class="field-value">{{chosenParkingDate}}</ion-col>
              </ion-row>
              <ion-row class="field-row">
                <ion-col size="5" class="field-label">Start Time</ion-col>
                <ion-col size="7" class="field-value">{{chosenStartTime}}</ion-col>
              </ion-row>
              <ion-row class="field-row">
                <ion-col size="5" class="field-label">End Time</ion-col>
                <ion-col size="7" class="field-value">{{chosenEndTime}}</ion-col>
              </ion-row>
              <ion-row class="field-row">
                <ion-col size="5" class="field-label">Duration</ion-col>
                <ion-col size="7" class="field-value">{{chosenDuration}}</ion-col>
              </ion-row>
            </ion-card-content>
            <br>
            <!-- Confirm Booking button -->
            <ion-card-content class="ion-no-padding ion-padding-bottom ion-text-center">
              <ion-button class="ion-no-margin" size="medium" (click)="confirmBooking()">Confirm Booking</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Booking Filter  -->
        <ion-col size="12" size-md="8" pull-md="4">
          <ion-card class="ion-no-margin ion-margin-bottom">
            <ion-accordion-group>
              <ion-accordion value="filters">
                <ion-item slot="header">
                  <ion-icon class="ion-padding-end" name="filter"></ion-icon>
                  <ion-label>Search Parking</ion-label>
                </ion-item>

                <ion-list slot="content">
                  <ion-item>
                    <ion-label position="stacked">
                      Parking Zone
                    </ion-label>

                    <!-- filter location -->
                    <ion-select interface="popover" mode="md" (ionFocus)="loadLocations()" [(ngModel)]="filterObject.parkinglocation"  (ionChange)="checkAllFieldsFilled()">
                      <ion-select-option *ngFor="let l of locations" [value]="l.key">
                        {{ l.value }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>

                  <!-- filter date -->
                  <ion-item [(ngModel)]="filterObject.parkingdate" (click)="openDatePicker('date')"
                    (ngModelChange)="checkAllFieldsFilled()" detail="true" button="true">
                    <ion-label>
                      <h3>Date</h3>
                      <p>{{ filterObject.parkingdate }}</p>
                    </ion-label>
                  </ion-item>

                  <!-- filter time -->
                  <!-- Hidden datetime picker -->
                  <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY" [hidden]="!showDatePickerFlag"
                    (ionCancel)="hideDatePicker()" (ionChange)="hideDatePicker()"
                    (ngModelChange)="checkAllFieldsFilled()" display-time="false">
                  </ion-datetime>

                  <ion-item [(ngModel)]="filterObject.starttime" (click)="openPicker('start')"
                    (ngModelChange)="checkAllFieldsFilled()" detail="true" button="true">
                    <ion-label>
                      <h3>Start</h3>
                      <p>{{ filterObject.starttime }}</p>
                    </ion-label>
                  </ion-item>

                  <ion-item [(ngModel)]="filterObject.endtime" (click)="openPicker('to')"
                    (ngModelChange)="checkAllFieldsFilled()" detail="true" button="true">
                    <ion-label>
                      <h3>End</h3>
                      <p>{{ filterObject.endtime }}</p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-card>

          <ng-container *ngIf="availableParkings.length > 0; else loadParking">
            <ion-card class="ion-no-margin">
              <ion-item>
                <ion-icon name="albums-outline" slot="start" color="primary"></ion-icon>
                <ion-label class="glob-text-bold" color="primary">
                  {{ availableParkings.length }} Available Parkings
                </ion-label>
              </ion-item>

              <ion-card-content>
                <ion-chip *ngFor="let parking of availableParkings;" (click)="fillBookingDetails(parking)" [class.selected]="parking === selectedParking">
                  {{ parking }}
                </ion-chip>
              </ion-card-content>
            </ion-card>
          </ng-container>

          <ng-template #loadParking>
            <ion-card class="ion-no-margin">
              <ion-item>
                <ion-icon name="albums-outline" slot="start" color="primary"></ion-icon>
                <ion-label class="glob-text-bold" color="primary">
                  Loading Available Parkings
                </ion-label>
              </ion-item>

              <ion-card-content>
                <ion-row>
                  <ion-col *ngFor="let _ of skeleton">
                    <ion-skeleton-text animated style="height: 30px; width: 100%;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ion-col>
      </ng-container>
    </ion-row>
  </div>
</ion-content>