responsive-container-sm {
  padding: 1rem 0 !important;
}

.heading-title {
  font-size: 1.4rem;
  font-weight: 900;
}

.heading-container {
  color: var(--ion-color-medium);
}

.heading-sub-title {
  font-size: 1.1rem;
}

.card-label {
  font-size: 1rem;
}

.item-thumbnail {
  width: 2rem;
  height: auto;
}

.fav-icon {
  font-size: 1.5rem;
}

.edit-mode-card {
  background: var(--ion-color-danger) !important;
}

.menu-container {
  background: transparent none !important;
  --background: transparent none !important;

  .item-title {
    font-weight: 900;
  }

  .menu-card {
    display: flex;
    min-height: 80px;
    align-content: center;
    text-overflow: ellipsis;
    cursor: pointer;

    .icon-container {
      width: 36px;
      height: 36px;
    }
  }

  .menu-card:hover {
    background: var(--ion-color-light) !important;
    transition: .3s ease-in-out;
  }
}

.col-padding > :nth-child(4n+1) {
  padding-left: 0;
}

.col-padding > :nth-child(4n+4) {
  padding-right: 0;
}
