.virtual-card {
  margin: auto;
  position: relative;
  width: 310px !important;

	img {
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}

  .virtual-card-student-img {
    position: absolute !important;
    bottom: 15px !important;
    right: 0 !important;
    padding: 15px 0 !important;
    height: 123px !important;
  }

  .virtual-card-student-details {
    position: absolute !important;
    top: 80px !important;
    color: #000 !important;
    left: 10px !important;
    width: 200px !important;

    .virtual-card-student-name {
      margin: 0;
      font-size: 0.9rem;
      margin-bottom: 20px;
    }
    .virtual-card-student-ids {
      font-size: 0.7rem;
      margin-top: 2px;
      margin-bottom: 0;
      .attr {
        display: inline-block;
        width: 9em;
      }
      .attr::after {
        content: ':';
      }
    }

  }
}

.profile-photo {
  margin-top: 16px;
  max-height: 150px;
  max-width: 122px;
}

ion-img {
  height: 100%;
  border-radius: 15px;
  margin: auto;
}

.margin-auto {
  margin: auto;
}

h1, h4 {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  ion-col {
    border: none;

    ion-card:not(.orientation) {
      box-shadow: none;
      --background: transparent !important;
    }
  }

  .virtual-card {
    margin: auto !important;
    float: none !important;
  }
}

@media screen and (max-width: 360px) {
  .virtual-card {
    width: 268px !important;

    .virtual-card-student-img {
      position: absolute !important;
      bottom: 4px !important;
      right: 0 !important;
      padding-top: 4px !important;
      padding-bottom: 25px !important;
      height: 107px !important;
    }

    .virtual-card-student-details {
      position: absolute !important;
      top: 71px !important;
      color: #000 !important;
      left: 10px !important;
      width: 153px !important;

      .virtual-card-student-name {
        font-size: 0.7rem;
      }
      .virtual-card-student-ids{
        font-size: 0.59rem !important;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .virtual-card {
    width: 250px !important;

    .virtual-card-student-img {
      bottom: 0 !important;
      
    }
  }

}
