<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/peoplepulse"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="glob-container">
    <!-- STAFF PROFILE -->
    <!-- <ng-template #userIsStaff> -->
    <ng-container *ngIf="staffProfile$ | async as staffProfile; else loadingProfile">
      <ion-grid class="ion-margin-top ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-lg="8">
            <div class="custom-card">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" size-md="5" class="ion-align-self-center virtual-card-padding">
                    <div class="staff-virtual-card">
                      <!-- (click)="virtualCardModal(staffProfile, studentRole)"> -->
                      <img class="staff-background" src="assets/img/staff_card_apu.jpg" />
                      <img
                        class="staff-profile-picture"
                        [src]="staffProfile[0]?.PHOTO"
                        (ionError)="$event.target.src = 'assets/img/no_img.png'"
                      />
                      <div class="staff-details">
                        <p>{{ staffProfile[0].FULLNAME }}</p>
                        <p>{{ staffProfile[0].TITLE }}</p>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col class="ion-text-left" size="12" size-md="7">
                    <h2 class="glob-text-bold">{{ staffProfile[0].FULLNAME }}</h2>
                    <ion-text color="primary">
                      <h5 class="ion-no-margin">{{ staffProfile[0].TITLE }}</h5>
                    </ion-text>
                    <div class="ion-margin-top">
                      <h4 class="ion-padding-top">ID</h4>
                      <p class="ion-no-margin">{{ staffProfile[0].ID }}</p>
                    </div>
                    <div class="ion-margin-top">
                      <h4>Current Job Type</h4>
                      <p class="ion-no-margin">{{ staffProfile[0].CURRENT_JOB_TYPE }}</p>
                    </div>
                    <div class="ion-margin-top">
                      <h4>
                        {{(staffProfile[0].DEPARTMENT2 || staffProfile[0].DEPARTMENT3) ? 'Functional
                        Areas' : 'Functional Area'}}
                      </h4>
                      <p class="ion-no-margin">{{ staffProfile[0].DEPARTMENT }}</p>
                      <p class="ion-no-margin" *ngIf="staffProfile[0].DEPARTMENT2">
                        {{ staffProfile[0].DEPARTMENT2 }}
                      </p>
                      <p class="ion-no-margin" *ngIf="staffProfile[0].DEPARTMENT3">
                        {{ staffProfile[0].DEPARTMENT3 }}
                      </p>
                    </div>
                    <div class="ion-margin-top">
                      <h4>Nationality</h4>
                      <p class="ion-no-margin ion-margin-bottom">
                        {{ staffProfile[0].NATIONALITY }}
                      </p>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <!-- </ng-template> -->

    <ng-template #loadingProfile>
      <ion-grid class="ion-margin-top ion-no-padding">
        <ion-row>
          <ion-col class="ion-margin-top" size-xs="12" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
            <ion-item lines="none" *ngFor="let s of skeltons">
              <ion-skeleton-text animated [style.width]="s + '%'" style="line-height: 30px; margin:auto;">
              </ion-skeleton-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </div>

  <h1 class="ion-text-center">Your Posts</h1>
  <div *ngIf="posts; else loading">
    <div *ngIf="posts.length > 0; else noPosts">
      <app-pp-post *ngFor="let post of posts" [post]="post" editable="true">
      </app-pp-post>
    </div>
    <ng-template #noPosts>
      <p class="ion-text-center">You haven't posted anything</p>
    </ng-template>
  </div>
  <ng-template #loading>
    <ion-card *ngFor="let i of [].constructor(3)" class="skeleton-card">
      <ion-card-header>
        <span class="display: flex">
        <ion-avatar style="--border-radius: 0">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        </span>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated class="skeleton-card-text"></ion-skeleton-text>
        <ion-skeleton-text animated class="skeleton-card-text"></ion-skeleton-text>
        <ion-skeleton-text animated class="skeleton-card-text"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
