ion-card {
  ion-card-content ion-icon {
    vertical-align: -1.1px;
    padding-left: 0px;
    padding-right: 2px;
  }

  ion-card-content a {
    color: var(--ion-text-color);

    &:hover {
      color: var(--ion-color-primary);
    }
  }

  ion-card-header {
    padding-bottom: 5px;
  }
}

ion-segment {
  --background: var(--ion-color-light);
}

.small-margin-bottom{
  margin-bottom: 7px;
}

.table-item:nth-child(odd) {
  --background: var(--ion-background-color) !important;
}
