<ion-header>
  <ion-toolbar>
    <ion-title>Moodle Event</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-grid-width-md:600; ion-grid-margin-sm:40px">
    <ion-row>
      <ion-col>
        <ion-text color="secondary" style="font-weight:bold; font-size: large;">
          Name:
        </ion-text>
        <ion-text style="font-size: small;">{{moodleItem.name}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="secondary" style="font-weight:bold; font-size: large;">
          Description:
        </ion-text>
        <ion-text style="font-size: small;" [innerHTML]="moodleItem.description"></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="secondary" style="font-weight:bold; font-size: large;">
          Event type:
        </ion-text>
        <ion-text style="font-size: small;">{{moodleItem.eventtype}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="secondary" style="font-weight:bold; font-size: large;">Module Name: </ion-text>
        <ion-text style="font-size: small;">{{moodleItem.modulename}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="ion-margin-bottom" expand="block" color="primary" [href]="'https://lms2.apiit.edu.my/course/view.php?id=' + moodleItem.courseid" target="_blank">See Course
  </ion-button>
</ion-content>

