<ion-header>
  <ion-toolbar>
    <ion-title>Add New Resit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <form [formGroup]="resitForm">
        <ion-card class="ion-no-margin" *ngFor="let r of resitForm.controls; let i = index; let isLast = last"
          [ngClass]="!isLast ? 'ion-margin-bottom' : undefined">
          <ng-container [formGroup]="r">
            <ion-item color="light" lines="none">
              <ion-icon name="receipt-outline" slot="start"></ion-icon>
              <ion-label color="primary">Resit {{ i + 1 }}</ion-label>
              <ion-button fill="clear" slot="end" color="danger" *ngIf="resitForm.controls.length > 1"
                (click)="removeResit(i)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-item lines="none">
              <ion-label>
                Start Date
              </ion-label>
              <ion-datetime [min]="todaysDate" placeholder="Select Start Date"
                formControlName="registration_start_date">
              </ion-datetime>
            </ion-item>

            <ion-item [disabled]="!getStartDate(i).value" lines="none">
              <ion-label>
                End Date
              </ion-label>
              <ion-datetime [min]="getStartDate(i).value" placeholder="Select End Date"
                formControlName="registration_end_date"></ion-datetime>
            </ion-item>

            <ion-item [disabled]="!getStartDate(i).value" lines="none">
              <ion-label>
                Referal Date
              </ion-label>
              <ion-datetime placeholder="Select Referal Date" formControlName="referral_date">
              </ion-datetime>
            </ion-item>

            <ion-item lines="none">
              <ion-label>
                Enable Date
              </ion-label>
              <ion-datetime [min]="currentYear" placeholder="Select Enable Date" formControlName="enable_date">
              </ion-datetime>
            </ion-item>
          </ng-container>
        </ion-card>
      </form>
    </ion-col>
  </ion-row>
  <ion-button color="medium" fill="outline" expand="block" (click)="addResit()">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>

  <ion-button class="ion-margin-top" expand="block" color="success" (click)="submit()">
    Submit
  </ion-button>
</ion-content>
