<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/peoplepulse"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: 900">Add Post</ion-title>
    <ion-buttons slot="primary" (click)="post()">
      <ion-button [disabled]="content.trim().length === 0" color="primary">Post</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add-content">
    <!-- staff -->
    <ion-item button detail
      [class.ion-hide]="isStaffOpen"
      *ngIf="staff === null; else staffPicked"
      (click)="toggleStaff()"
    >
      <ion-label>Select Employee</ion-label>
    </ion-item>

    <ng-template #staffPicked>
      <ion-item button (click)="clearStaff()">
        <ion-avatar slot="start">
          <img
            [src]="staff.PHOTO"
            onerror="this.src='assets/img/no_img.png'"
            alt="Profile"
          />
        </ion-avatar>
        <ion-label>{{ staff.FULLNAME }}</ion-label>
      </ion-item>
    </ng-template>

    <ion-list [class.ion-hide]="!isStaffOpen">
      <staff-directory (staffID)="selectStaff($event)"></staff-directory>
    </ion-list>
    <!-- staff -->

    <!-- category -->
    <ion-item
      button
      detail
      *ngIf="category === null; else catPicked"
      [disabled]="staff === null"
      (click)="toggleCategories()"
    >
      <ion-label>Select Category</ion-label>
    </ion-item>

    <ng-template #catPicked>
      <ion-item (click)="clearCategory()">
        <ion-label>
          <ion-chip [color]="lookup[category.category]">{{ category.category }}</ion-chip>
        </ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="isCatsOpen">
      <ion-item button *ngFor="let cat of categories" (click)="selectCategory(cat)">
        <ion-label>
          <ion-chip [color]="lookup[cat.category]">{{ cat.category }}</ion-chip>
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- category -->

    <ion-item>
      <ion-textarea
        [disabled]="category === null"
        placeholder="Say something about them..."
        [(ngModel)]="content"
        maxLength="2000"
        minLength="2"
        rows="12"
        auto-grow="true"
      >
        <small>
          <ion-text color="medium">({{ content.length }}/2000)</ion-text>
        </small>
      </ion-textarea>
    </ion-item>
  </div>
</ion-content>
