.table-header {
  background-color: var(--ion-color-primary) !important;
  padding: 5px 0;
}

.table-row {
  border-bottom: 1px solid var(--ion-border-color);
  padding: 5px 0;
}

.margin-auto {
  margin: auto;
}
