<ion-header>
  <ion-toolbar>
    <ion-title>New Feedback</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <form [formGroup]="feedbackForm">
        <ion-card class="ion-no-margin">
          <ion-item lines="inset">
            <ion-label position="stacked">Category <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select placeholder="Select a Category" interface="popover"
              *ngIf="(categories$ | async) as categories; else loading" formControlName="category">
              <ion-select-option *ngFor="let c of categories" [value]="c.id">
                {{ c.name }}
              </ion-select-option>
            </ion-select>

            <ng-template #loading>
              <ion-skeleton-text animated style="width: 100%; line-height: 30px; margin-top: 10px;"></ion-skeleton-text>
            </ng-template>
          </ion-item>

          <ion-item lines="inset">
            <ion-label>
              Anonymous
            </ion-label>
            <ion-toggle formControlName="anonymous"></ion-toggle>
          </ion-item>

          <div class="ion-padding-start ion-padding-end">
            <ion-text color="danger">
              <small>By toggling this, your feedback will remain <span class="glob-text-bold">Anonymous</span>.
              </small>
            </ion-text>
          </div>

          <ion-item lines="none">
            <ion-label position="stacked">Message <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-textarea autoGrow maxlength="2000" rows="8" placeholder="Describe your Feedback"
              formControlName="message"></ion-textarea>
          </ion-item>

          <ion-card-content>
            <ion-button expand="block" fill="solid" color="primary" (click)="submit()">
              Submit
            </ion-button>
          </ion-card-content>
        </ion-card>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
