<ion-content class="ion-padding">
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <!-- Title -->
  <div class="title-container">
    <h2 class="title-text">Press and hold button for 3 seconds</h2>
  </div>

  <!-- Help Button -->
  <!-- <div class="button-container">
    <button class="help-button" [ngClass]="{ 'button-hovered': isButtonHovered(), 'disabled-hover-effect': isHoverEffectDisabled() }" (mousedown)="onClick($event)"
      (mouseup)="onMouseUp()">
      <div [ngStyle]="{ 'color': isButtonHovered() ? 'red' : 'white' }" class="button-inner" >SOS</div>
    </button>
  </div> -->

  <!-- <div class="button-container">
    <button class="help-button" [ngClass]="{ 'button-hovered': isButtonHovered(), 'disabled-hover-effect': isHoverEffectDisabled() }"
      (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd()">
      <div [ngStyle]="{ 'color': isButtonHovered() ? 'red' : 'white' }" class="button-inner">SOS</div>
    </button>
  </div> -->

  <div class="button-container">
    <button class="help-button"
      [ngClass]="{ 'button-hovered': isButtonHovered(), 'disabled-hover-effect': isHoverEffectDisabled() }"
      (mousedown)="onMouseDown($event)" (touchstart)="onTouchStart($event)" (mouseup)="onMouseUp()" (touchend)="onTouchEnd()">
      <div [ngStyle]="{ 'color': isButtonHovered() ? 'red' : 'white' }" class="button-inner">SOS</div>
    </button>
  </div>

  <br>
  <!-- Status Section -->
  <div class="card-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Info</ion-card-title>
      </ion-card-header>
      <div class="divider"></div>
      <ion-card-content>
        <ion-list>
          <ion-item lines="none" class="status-item">
            <div class="label-container">
              <ion-label>SOS Status:</ion-label>
            </div>
            <div class="text-container">
              <ion-text color="primary" class="text-start">{{ sosStatus }}</ion-text>
            </div>
          </ion-item>
          <ion-item lines="none" class="status-item">
            <div class="label-container">
              <ion-label>Last Reported DateTime:</ion-label>
            </div>
            <div class="text-container">
              <ion-text color="primary" class="text-start">{{latestReportDateTimeDisplay}}</ion-text>
            </div>
          </ion-item>
          <div class="action-button-container">
            <ion-button color="primary" (click)="loadEmergencyDetails()"
              [disabled]="latestStatusRead === ''">Details</ion-button>

            <ion-button color="danger" [disabled]="latestStatusRead === '' || latestStatusRead === 'HELPCOMPLETE'"
              (click)="cancel()">Cancel</ion-button>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>