.logo {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
  background-color: var(--ion-color-light);

  p {
    color: var(--ion-text-color) !important;
    font-size: 11px;
    padding: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center
  }
}
