.glob-margin-auto {
  margin: auto !important;
}

.glob-small-margin-bottom {
  margin-bottom: 5px !important;
}

.glob-small-margin-top {
  margin-top: 5px !important;
}

.glob-primary-text {
  color: var(--ion-color-primary);
  --color: var(--ion-color-primary);
}

.glob-success-text {
  color: var(--ion-color-success);
  --color: var(--ion-color-success);
}

.glob-danger-text {
  color: var(--ion-color-danger);
  --color: var(--ion-color-danger);
}

.glob-text-bold {
  font-weight: 900 !important;
}

.glob-fw-600 {
  font-weight: 600 !important;
}

.glob-white-space-normal {
  white-space: normal !important;
}

.glob-calendar {
  background-color: var(--secondary-bg-color) !important;
  padding: 0 !important;

  .month-packer-item {
    button {
      color: var(--ion-text-color) !important;
    }

    &.this-month {
      button {
        border-color: var(--ion-color-primary) !important;
        color: var(--ion-color-primary) !important;
      }
    }
  }

  .days-btn {
    p {
      color: var(--ion-text-color) !important;
    }

    &[disabled] p {
      color: var(--ion-color-medium) !important;
    }

    &.today p {
      color: var(--ion-color-primary-shade) !important;
    }

    &.on-selected {
      background: var(--ion-color-primary) !important;

      p {
        color: var(--ion-text-color) !important;
      }
    }

    &.attendance {
      background: var(--ion-color-primary) !important;

      &.on-selected {
        background-color: transparent !important;
        border: 3px solid var(--ion-color-primary) !important;

        p {
          color: var(--ion-color-primary) !important;
        }
      }
    }
  }
}
