.date-picker-modal {
  --width: 350px;
  --height: 450px;
  --border-radius: 10px;

  ion-datetime {
    height: 450px;
    border-radius: 10px;
  }
}

.alert-wrapper {
  .alert-button-group {
    .cancel {
      color: var(--ion-color-medium);
    }

    .success {
      color: var(--ion-color-success);
    }
  }
}
