.date-picker-modal {
  --width: 350px;
  --height: 450px;
  --border-radius: 10px;

  ion-datetime {
    height: 450px;
    border-radius: 10px;
  }
}

.alert-wrapper {
  .alert-button-group {
    .cancel {
      color: var(--ion-color-medium);
    }

    .success {
      color: var(--ion-color-success);
    }

    .danger {
      color: var(--ion-color-danger);
    }
  }
}

.mark-all .action-sheet-button {
  &.Y {
    background: #28a745;
    color: #fff;
  }

  &.L {
    background: #ffc409;
    color: #fff;
  }

  &.N {
    background: #dc3545;
    color: #fff;
  }
}
