@import '~swiper/swiper.min.css';
@import '~swiper/modules/navigation/navigation.min.css';
@import '~swiper/modules/pagination/pagination.min.css';

.swiper {
  width: 100%;
  min-height: 0;
  height: 100%;
  --swiper-pagination-color: var(--ion-color-primary) !important;
  overflow-y: auto !important;
}

.swiper-pagination {
  position: fixed;
}

.slider-loader {
  border-radius: 15px;
}

ion-skeleton-text {
  --background-rgb: var(--ion-color-medium-rgb) !important;
  border-radius: 15px;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.slider-container {
  cursor: pointer;
}

.slider-container img{
  width: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 720px) {
  ion-skeleton-text {
    height: 100px !important;
  }
}
