<ng-container *ngIf="(noticeBoardItems$ | async) as noticeBoardItems; else slideLoader">
  <swiper (swiper)="setSwiperInstance($event)" [config]="swiperConfig">
    <ng-template *ngFor="let noticeBoardItem of noticeBoardItems" swiperSlide>
      <div class="slider-container" (click)="openSlideLink(noticeBoardItem)">
        <img
          [src]="noticeBoardItem.featured_image_src ? noticeBoardItem.featured_image_src : 'assets/img/placeholder.png'" />
      </div>
    </ng-template>
  </swiper>
</ng-container>
<!--Slide loading skeleton-->
<ng-template #slideLoader>
  <ion-row class="slider-loader">
    <ion-col size="12">
      <ion-skeleton-text animated style="width: 100%; height: 300px;"></ion-skeleton-text>
    </ion-col>
  </ion-row>
</ng-template>
