<ion-content>
  <ion-row>
    <ion-col size-xs="12" size-md="7" class="margin-auto">
      <div class="ion-text-center ion-margin-top">
        <img src="assets/icon/apspace-white.svg" />
      </div>

      <form [formGroup]="loginForm">
        <div class="input-form">
          <ion-label [color]="(apkey.dirty || apkey.touched) && apkey.errors ? 'danger' : 'primary'">
            APKey
          </ion-label>
          <ion-input placeholder="Your TP Number" formControlName="apkey"
            [ngClass]="(apkey.dirty || apkey.touched) && apkey.errors ? 'error-shadow' : null"></ion-input>
          <small class="error-message" *ngIf="(apkey.dirty || apkey.touched) && apkey.errors?.required">
            APKey is required
          </small>
        </div>

        <div class="input-form">
          <ion-label color="danger" *ngIf="(password.dirty || password.touched) && password.errors; else validPass">
            Password</ion-label>
          <ng-template #validPass>
            <ion-label color="primary">Password</ion-label>
          </ng-template>
          <ion-input type="password" placeholder="Password" formControlName="password"
            [ngClass]="(password.dirty || password.touched) && password.errors ? 'error-shadow' : null"></ion-input>
          <small class="error-message" *ngIf="(password.dirty || password.touched) && password.errors?.required">
            Password is required
          </small>
        </div>
      </form>

      <ion-button expand="block" (click)="login()">
        Login
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
