.margin-auto {
  margin: auto;
}

img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.input-form {
  margin: 15px 0px;
  ion-label {
    font-weight: bold;
  }

  ion-input {
    margin: 7px 0px;
    box-shadow: var(--ion-color-primary) 0px 0px 0px 1px;
    border-radius: 5px;
    overflow: hidden;
    &.error-shadow {
      box-shadow: var(--ion-color-danger) 0px 0px 0px 1px;
    }
  }

  .error-message {
    color: var(--ion-color-danger);
    font-weight: bold;
  }
}
