<ion-toolbar>
  <ion-title>
    Parking History
  </ion-title>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="glob-container">
    <ion-row>
      <ion-col size-xs="12" size-md="8" class="glob-margin-auto">
        <ion-card class="ion-no-margin ion-margin-bottom">

          <ion-item lines="none">
            <ion-label position="stacked">Parking Zone</ion-label>
            <ion-select interface="popover" [(ngModel)]="chosenParkingZone" (ngModelChange)="changeMap()" mode="md">
              <ion-select-option *ngFor="let l of locations" [value]="l.value">
                {{ l.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>


        <!-- parking map image -->
        <ng-container>
          <ion-card class="ion-no-margin">
            <ion-card-header color="light">
              <ion-card-subtitle class="glob-text-bold">
                {{chosenParkingZone}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-progress-bar value="1">
            </ion-progress-bar>

            <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
              <ion-grid>
                <ion-col>
                  <ion-row>
                    <!-- <div class="map-container">
                      <img [src]="getImageByLocation(chosenParkingZone)" alt="Parking Map" class="center-image">
                      <img class="pinpoint-icon" src="/assets/img/location_pinpoint_icon.png" alt="Pinpoint Icon">
                    </div> -->
                      <div class="map-container">
                        <img class="map-image" [src]="getImageByLocation(chosenParkingZone)" alt="Map Image" class="center-image">
                        <img [style.top.px]="pinpointTop" [style.left.px]="pinpointLeft" class="pinpoint-icon"
                          src="/assets/img/location_pinpoint_icon.png" alt="Pinpoint Icon">
                      </div>
                  </ion-row>
                </ion-col>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ng-container>

      </ion-col>
    </ion-row>
  </div>


</ion-content>