ion-content {
  --background: transparent; /* Make the content area transparent */
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.center-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 2rem auto 0; /* Adds 2 rem margin-top, auto margin for horizontal centering */
}

.pinpoint-icon {
  position: absolute;
  top: 50%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center the icon */
  z-index: 10; /* Ensure the icon is displayed on top of the map image */
  width: 200px; /* Adjust the width of the icon as needed */
  height: 100px; /* Adjust the height of the icon as needed */
}

// @media (max-width: 767px) {
//   .pinpoint-icon {
//     top: 50% !important;
//     left: 50% !important;
//     transform: translate(-50%, -50%) !important;
//     width: 0%;
//     height: 10%;
//   }
// }

// @media (max-width: 767px) {
//   .pinpoint-icon {
//     width: 0.01rem;
//     height: 0.01rem;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
// }

@media (max-width: 767px) {
  .pinpoint-icon {
    width: 10vw; /* Adjust the size as needed */
    height: 5vw; /* Adjust the size as needed */
    position: absolute;
    top: 1vh; /* Adjust the vertical position as needed */
    left: -5vw; /* Adjust the horizontal position as needed */
    transform: translate(-50%, -50%);
  }
}

//   C:\Users\wjun\Documents\vscode\apspace\src\assets\img\location_pinpoint_icon.png

//   C:\Users\wjun\Documents\vscode\apspace\src\app\pages\parking-map\parking-map.page.scss

// background-image: url("/assets/img/location_pinpoint_icon.png")
