<ion-header>
  <ion-toolbar>
    <ion-title>Switch User Acccount</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="userData && userData.length > 0">
    <ion-item *ngFor="let user of userData" (click)="selectUser(user)" class="clickable">
      <ion-label class="clickable">
        {{ user.displayname }}
        <p>{{ user.userid }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="!userData || userData.length === 0">
    No user data available.
  </div>
</ion-content>