<ion-header>
  <ion-toolbar>
    <ion-title>Notification Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card class="ion-no-margin">
        <ion-card-header>
          <ion-text color="primary">
            <h3 class="glob-text-bold">{{ message.title }}</h3>
            <p>
              {{ message.staff_name }} | {{ message.sent_on | dateWithTimezone: 'MMMM d, y' }},
              {{ message.sent_on | dateWithTimezone: 'time' | slice: 0 :-8 }}
            </p>
          </ion-text>
        </ion-card-header>
        <ion-card-content class="ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom">
          <div class="ion-padding-top message-content">
            <p [innerHTML]="message.content | safe: 'bypassHtml'"></p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
