.h-mobile-d-desktop {
  display: none;
}

ion-note {
  font-size: 13px;
}

.success-text {
  color: var(--ion-color-success);
}

.danger-text {
  color: var(--ion-color-danger);
}

.col-padding {
  padding: 5px 5px 5px 0px;
}

@media (min-width: 768px) {
  // large screens => table settings
  .h-mobile-d-desktop {
    display: block;
    visibility: visible;
  }

  .h-desktop-d-mobile {
    display: none;
  }
}
