.h-mobile-d-desktop {
  display: none;
}

ion-note {
  font-size: 13px;
}

@media (min-width: 768px) {
  // large screens => table settings
  .h-mobile-d-desktop {
    display: block;
    visibility: visible;
  }

  .h-desktop-d-mobile {
    display: none;
  }
}
