ion-item-divider {
  ion-label {
    font-size: 17px;
  }
}

ion-item {
  --highlight-color-valid: transparent;
}

.h-mobile-d-desktop {
  display: none;
}

ion-note {
  font-size: 13px;
}

.col-padding {
  padding: 0 5px 5px 0;
}

.medium-size-text {
  font-size: 15px;
}

@media (min-width: 768px) {
  // large screens => table settings
  .h-mobile-d-desktop {
    display: block;
    visibility: visible;
  }

  .h-desktop-d-mobile {
    display: none;
  }
}
