<ion-header [hidden]="comingFromTabs()">
  <ion-toolbar mode="md">
    <ion-title>
      Attendance
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <div class="glob-container">
    <ion-row>
      <ng-container *ngIf="(course$ | async) as course">
        <ion-col size="12" size-md="4" push-md="8">
          <ion-card class="ion-no-margin">
            <ion-item>
              <ion-label position="floating">Intake</ion-label>
              <ion-select [(ngModel)]="selectedIntake" (ngModelChange)="intakeChanged()" interface="action-sheet">
                <ion-select-option *ngFor="let intake of studentIntakes" [value]="intake">
                  {{intake}}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ng-container *ngIf="average >= 0; else noAverage">
              <ion-card-header class="ion-no-padding ion-padding-bottom">
                <ion-card-subtitle class="ion-text-center ion-padding-top" color="medium">
                  Overall Intake Attendance
                </ion-card-subtitle>
                <ion-card-title class="ion-text-center glob-text-bold" [color]="average >= 0.8 ? 'success' : 'danger'">
                  <h2 class="ion-no-margin">{{ average * 100 | number: "1.0-1" }}%</h2>
                </ion-card-title>
              </ion-card-header>
            </ng-container>
            <ng-template #noAverage>
              <ng-container *ngIf="average == -1; else loadingAverage">
                <ion-card-header class="ion-no-padding">
                  <ion-card-title color="danger" class="ion-text-center ion-padding-start ion-padding-end">
                    No Attendance for {{ selectedIntake }}
                  </ion-card-title>
                  <ion-card-subtitle class="ion-padding-start ion-padding-end ion-padding-bottom">
                    Either the intake just started or your lecturers did not upload your attendance for any of your
                    modules
                  </ion-card-subtitle>
                </ion-card-header>
              </ng-container>
              <ng-template #loadingAverage>
                <ion-card-header>
                  <ion-card-subtitle>
                    <ion-skeleton-text class="glob-margin-auto" animated style="line-height: 25px; width: 45%;">
                    </ion-skeleton-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-skeleton-text class="glob-margin-auto" animated style="line-height: 25px; width: 30%;">
                    </ion-skeleton-text>
                  </ion-card-title>
                </ion-card-header>
              </ng-template>
            </ng-template>

            <ion-card-content class="ion-no-padding ion-padding-bottom ion-text-center">
              <ion-button class="ion-no-margin" size="small" [routerLink]="['/attendix/update']"
                [disabled]="average == -1 || average >= 0 ? false : true">
                Sign Class Attendance
              </ion-button>
            </ion-card-content>

            <ion-progress-bar value="1" [color]="average >= 0.8 ? 'success' : 'danger'"></ion-progress-bar>
          </ion-card>

          <div class="h-mobile-d-desktop ion-margin-top">
            <ion-card class="ion-no-margin">
              <ion-item-divider color="light">
                <ion-label color="primary" class="glob-text-bold">
                  Legend
                </ion-label>
              </ion-item-divider>
              <ng-container *ngIf="(legend$ | async) as legend; else loadLegend">
                <div class="ion-padding">
                  <ion-row *ngFor="let l of legend | keyvalue">
                    <ion-col size="3">{{ l.key }}</ion-col>
                    <ion-col size="9">{{ l.value }}</ion-col>
                  </ion-row>
                </div>
              </ng-container>
              <ng-template #loadLegend>
                <ion-row *ngFor="let _ of skeletons">
                  <ion-col size="3">
                    <ion-skeleton-text animated style="line-height: 25px; width: 100%;">
                    </ion-skeleton-text>
                  </ion-col>
                  <ion-col size="9">
                    <ion-skeleton-text animated style="line-height: 25px; width: 100%;">
                    </ion-skeleton-text>
                  </ion-col>
                </ion-row>
              </ng-template>
            </ion-card>
          </div>
        </ion-col>

        <ion-col size="12" size-md="8" pull-md="4">
          <ng-container *ngIf="(attendance$ | async) as attendances; else loadAttendance">
            <ng-container *ngIf="attendances.length > 0; else noAttendance">
              <ng-container *ngFor="let a of attendances; let isLast = last">
                <ion-card class="ion-no-margin" [ngClass]="!isLast ? 'ion-margin-bottom' : undefined">
                  <ion-item-divider color="light" mode="md">
                    <ion-label color="primary" class="glob-text-bold">
                      Semester {{ a.semester }}
                    </ion-label>
                  </ion-item-divider>

                  <ion-item *ngFor="let module of a.attendances; let isLast = last" [lines]="isLast ? 'none' : 'full'"
                    detail="true" button="true" mode="md"
                    (click)="attendanceDetails(module.MODULE_ATTENDANCE, selectedIntake, module.SUBJECT_CODE)">
                    <ion-label class="ion-text-wrap">
                      <h3 class="glob-text-bold">{{ module.MODULE_ATTENDANCE }}</h3>
                      <p *ngIf="module.RETAKE">
                        {{ module.START_DATE | date: 'EEE, d MMM y' }} - {{ module.END_DATE | date: 'EEE, d MMM y' }}
                      </p>
                      <p class="glob-text-bold" [ngClass]="module.PERCENTAGE >= 80 ? 'success-text' : 'danger-text'">
                        {{ module.TOTAL_CLASSES -
                        module.TOTAL_ABSENT +
                        "/" +
                        module.TOTAL_CLASSES +
                        " (" +
                        module.PERCENTAGE +
                        "%)" }}
                      </p>
                      <ion-badge color="danger" *ngIf="module.RETAKE">RETAKE</ion-badge>
                    </ion-label>
                    <ion-note slot="end" [color]="module.EXAM_ELIGIBILITY === 'Eligible' ? 'success' : 'danger'">
                      {{ module.EXAM_ELIGIBILITY }}
                    </ion-note>
                  </ion-item>
                </ion-card>
              </ng-container>
            </ng-container>
            <ng-template #noAttendance>
              <ion-card class="ion-no-margin">
                <ion-card-content>
                  <app-message-with-svg imageUrl="assets/img/search-not-found.svg"
                    messageTitle="Oops! No Attendance Records Found for {{selectedIntake}}."
                    messageContent="Perhaps you can try this:" wrapperSize="4" wrapperMarginTop="30px" wrapperOffset="4"
                    [advancedMode]="true">
                    <div class="flex-container">
                      <ul class="list-txt-color">
                        <li>Make sure you selected the right intake</li>
                        <li>Make sure your lecturer marked your attendance at least once using AttendiX</li>
                      </ul>

                      <p>Still having trouble? No worries! Just click <a [routerLink]="'/feedback'">here</a> and
                        report the issue to us.</p>
                    </div>
                  </app-message-with-svg>
                </ion-card-content>
              </ion-card>
            </ng-template>
          </ng-container>
          <ng-template #loadAttendance>
            <ion-card class="ion-no-margin">
              <ion-item-divider lines="none" color="light">
                <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
              </ion-item-divider>

              <ion-item *ngFor="let _ of skeletons; let isLast = last" [lines]="isLast ? 'none' : 'full'">
                <ion-label>
                  <ion-skeleton-text animated style="width: 40%; line-height: 15px"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 20%; line-height: 10px"></ion-skeleton-text>
                </ion-label>
                <ion-skeleton-text animated style="width: 10%; line-height: 20px"></ion-skeleton-text>
              </ion-item>
            </ion-card>
          </ng-template>
        </ion-col>

        <ion-col size="12" size-md="4" class="h-desktop-d-mobile">
          <div *ngIf="(legend$ | async) as legend; else loadLegend">
            <ion-card class="ion-no-margin">
              <ion-card-header>
                <ion-card-title color="primary">Legend</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row *ngFor="let l of legend | keyvalue">
                  <ion-col col-3>{{ l.key }}</ion-col>
                  <ion-col col-9>{{ l.value }}</ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </div>

          <ng-template #loadLegend>
            <ion-card>
              <ion-item>
                <ion-skeleton-text style="width: 100%; height: 200px;" animated></ion-skeleton-text>
              </ion-item>
            </ion-card>
          </ng-template>
        </ion-col>
      </ng-container>
    </ion-row>
  </div>
</ion-content>
<!-- module.PERCENTAGE >= 80 ? 'success' : 'danger'" -->
