<ng-container *ngIf="(timetables$ | async) as timetables; else loading">
  <ng-container *ngIf="timetables.length > 0; else empty">
    <ion-accordion-group [value]="formatDate(currentWeek)">
      <ion-accordion *ngFor="let t of timetables; let isLast = last" [value]="formatDate(t.week)">
        <ion-item slot="header" [lines]="isLast ? 'none' : 'inset'">
          <ion-label>Week:
            <span class="glob-text-bold">{{ t.week | date: 'MMMM d, y' }}</span>
          </ion-label>
          <div class="ion-text-end">
            <ion-button size="small" class="ion-margin" (click)="printSelectedWeek(t.week)">
              <ion-icon name="print"></ion-icon>
              Print
            </ion-button>
          </div>
        </ion-item>

        <ion-list slot="content" class="controlled-list ion-padding">
          <ion-grid class="table-top ion-no-margin ion-no-padding">
            <ion-row class="ion-no-margin">
              <ion-col size="12" size-sm="2">
                <h2>Day</h2>
              </ion-col>
              <ion-col size="12" size-sm="2">
                <h2>Time</h2>
              </ion-col>
              <ion-col size="12" size-sm="2">
                <h2>Module</h2>
              </ion-col>
              <ion-col size="12" size-sm="3">
                <h2 >Location</h2>
              </ion-col>
              <ion-col size="12" size-sm="3">
                <h2>Intakes</h2>
              </ion-col>

              <hr class="marker hr-custom" />
            </ion-row>
          </ion-grid>

          <ion-grid *ngFor="let s of t.timetables" class="ion-no-padding ion-no-margin">
            <ion-row class="day-schedule">
              <ion-col size="12" size-sm="2">
                <span class="marker">Day: </span>
                {{ s.start | dateWithTimezone:'EEE, dd MMM' }}
              </ion-col>

              <ion-col size="12" size-sm="2">
                <span class="marker">Time: </span>
                {{ s.start | dateWithTimezone:'time' }} - {{ s.end | dateWithTimezone:'time' }}
              </ion-col>

              <ion-col size="12" size-sm="2">
                <span class="marker">Module: </span>
                {{ s.module }}
              </ion-col>

              <ion-col size="12" size-sm="3">
                <span class="marker">Location: </span>
                {{ s.location }}
              </ion-col>

              <ion-col size="12" size-sm="3">
                <span class="marker">Intakes: </span>
                <ng-container *ngFor="let intake of s.intakes; last as last">
                  <a class="colored-text" tappable (click)="openStudentTimetable(intake)">{{ intake }}</a>
                  <ng-container *ngIf="!last">, </ng-container>
          </ng-container>
              </ion-col>

              <!-- mobile separator -->
              <hr class="marker hr-custom">
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>

  <ng-template #empty>
    <ion-text color="danger" class="ion-text-center">
      <h3>No Timetable Available</h3>
    </ion-text>
  </ng-template>
</ng-container>

<ng-template #loading>
  <ion-accordion *ngFor="let t of skeleton; let isLast = last">
    <ion-item slot="header" [lines]="isLast ? 'none' : 'inset'">
      <ion-label>
        <ion-skeleton-text animated style="line-height: 20px; width: 60%;"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-accordion>
</ng-template>

