ion-col[scrollx="true"],
ion-col[scrolly="true"] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

ion-col[scrollx="true"] {
  overflow-x: auto;
}

ion-col[scrolly="true"] {
  overflow-y: auto;
}

.clickable {
  cursor: pointer;
}

// Profile Content
.profile-card {
  background: transparent;
  margin: 0 1rem;

  .profile-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;

    .profile-title {
      margin-right: auto;
    }

    .avatar {
      width: 80px;
      height: 80px;
      transition: 0.5s all;
      border: 2px solid var(--ion-color-primary);
      padding: 3px;

      &:hover {
        padding: 1px;
      }
    }

    .notification-badge {
      position: absolute;
      top: 0;
      right: -4px;
      z-index: 100;
      font-size: 0.8em;
      padding: 3px 3px 3px 4px;
    }
  }

  .orientation-image {
    width: 40%;
  }
}

// Quick Access
.quick-access-item {
  margin: .4rem 0;
  padding: 2rem 1.5rem;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;

  p {
    font-size: 1rem;
    color: #fff;
    font-weight: 900;
    z-index: 1;
  }
}

.quick-access-item:hover {
  background-size: auto 85%;
  transition: all 0.5s ease;
}

.quick-access-attendance{
  background-color: var(--ion-color-primary);
  background-image: url("/assets/img/attendance.svg");
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: right;
}

.quick-access-location {
  background-color: var(--ion-color-primary);
  background-image: url("../../../assets/img/update-location.svg");
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: right;
}

.quick-access-hr{
  background-color: var(--ion-color-primary);
  background-image: url("../../../assets/img/hr.svg");
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: right;
}

.quick-access-moodle {
  background-color: var(--ion-color-primary);
  background-image: url("/assets/img/moodle.svg");
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: right;
}

// Today's Schedule
.todays-schedule {
  .todays-schedule-container {
    .event-container {
      padding: 10px;
      transition: all 0.2s ease;
      border-left: 3px solid;
      border-bottom: 1px solid var(--ion-color-step-100);

      &.class-type {
        border-left-color: #8eaf2d;

        .colored-with-type {
          color: #8eaf2d;
        }

        .description a {
          color: #8eaf2d;
        }
      }

      &.iconsult-type {
        border-left-color: #54acd2;

        .colored-with-type {
          color: #54acd2;
        }

        .description a {
          color: #54acd2;
        }
      }

      &.exam-type {
        border-left-color: var(--ion-color-danger);

        .colored-with-type {
          color: var(--ion-color-danger);
        }

        .description a {
          color: var(--ion-color-danger);
        }
      }

      &.holiday-type {
        border-left-color: var(--ion-color-warning);

        .colored-with-type {
          color: var(--ion-color-warning);
        }

        .description a {
          color: var(--ion-color-warning);
        }
      }

      &.passed-event {
        border-left-color: #a1a1a1;

        .colored-with-type {
          color: #a1a1a1;
        }
      }

      &.moodle-type {
        border-left-color: #f48c06;

        .colored-with-type {
          color: #f48c06;
        }

        .description a {
          color: #f48c06;
        }
      }

      .info-item {
        margin-top: 9px;

        .small-margin {
          margin-right: 10px;
          margin-left: 10px;
        }
      }

      &:hover {
        border-left-width: 10px;
      }
    }
  }
}

// Upcoming Trips
.locations {
  font-size: 1.2em;
}

.bus-timing-container {
  background-color: var(--ion-color-light);
  border-radius: 5px;

  .bus-border {
    border-radius: 5px 20px 20px 0;
  }

  .current-timing {
    font-size: 1.2em;
  }

  .timing{
    opacity: 0.6;
  }
}

// Notice board
.image-slider {
  position: relative;

  .swiper-container {
    width: 100%;
    height: 256px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    border-radius: 15px;
  }

  .swiper-slide {
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;

    .picture {
      width: 100%;
      img {
        width: 100%;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
      }
    }
  }

  .box {
    border-radius: 15px;
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
  }
}

// News
.news-card {
  background: #252525 !important;

  .news-description {
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

// Contacts
.contacts-row {
  cursor: pointer;

  .contacts-icon {
    font-size: 2rem;
  }

  .contacts-lecturer-name {
    font-size: 1.2em;
  }
}

.contacts-row:hover {
  background-color: var(--ion-color-light);
}

// Global classes
.dash-padding {
  padding: 0 1em 0 1em;
}

.dash-padding-bottom {
  padding-bottom: 1em;
}

@media screen and (max-width: 720px) {
  .dash-padding {
    padding: 1em 0 0 0;
    border-radius: 0;
  }
  .dash-padding-bottom {
    padding-bottom: 1em;
  }
  .no-border-rad {
    border-radius: 0 !important;
  }
  .image-slider {
    .swiper-slide {
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 720px) {
  .profile-card {
    margin: 1rem 0 0 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .profile-card {
    background: var(--ion-item-background);
    margin: 1rem;

    .profile-container {
      flex-direction: column;

      .profile-title {
        margin-right: 0;
        text-align: center;
      }
    }

    .orientation-image {
      width: 100% !important;
    }
  }
}

@media screen and (min-width: 769px) {
  .profile-card {
    box-shadow: none !important;
  }
}
